<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rest_validation</key>
	<dict>
		<key>result</key>
		<string>good</string>
		<key>error</key>
		<string>0</string>
		<key>system_error</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>message</key>
			<string></string>
		</dict>
	</dict>
	<key>nas_validation</key>
	<dict>
		<key>result</key>
		<string>good</string>
		<key>error</key>
		<string>0</string>
		<key>system_error</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>message</key>
			<string></string>
		</dict>
	</dict>
	<key>nas_status</key>
	<dict>
		<key>result</key>
		<string>good</string>
		<key>error</key>
		<string>0</string>
		<key>system_error</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>message</key>
			<string></string>
		</dict>
	</dict>
	<key>http_validation</key>
	<dict>
		<key>result</key>
		<string>good</string>
		<key>error</key>
		<string>0</string>
		<key>system_error</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>message</key>
			<string></string>
		</dict>
	</dict>
	<key>share_access</key>
	<dict>
		<key>result</key>
		<string>good</string>
		<key>error</key>
		<string>0</string>
		<key>system_error</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>message</key>
			<string></string>
		</dict>
	</dict>
	<key>file_copy</key>
	<dict>
		<key>result</key>
		<string>good</string>
		<key>error</key>
		<string>0</string>
		<key>system_error</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>message</key>
			<string></string>
		</dict>
	</dict>
	<key>data_streaming</key>
	<dict>
		<key>result</key>
		<string>good</string>
		<key>error</key>
		<string>0</string>
		<key>system_error</key>
		<dict>
			<key>code</key>
			<string></string>
			<key>message</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
