{%if me%}
		{%extends "index_user.html"%}
{%else%}
		{%extends "index.html"%}
{%endif%}

{%block title%}
  {%if me%}
    {{me.name}} | Blogs | WPC
  {%else%}
    Blogs | WPC
  {%endif%}
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">

{%endblock%}

{%block carousel%}
{%endblock%}

{%block pageContent%}

 <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4 col-md-offset-2">
        <h1> WPC<em>blogs</em>  {%if not me%}<a href="/signin"><button class="btn btn-xs btn-danger" type="button"><i class="fa fa-register" style="color:white;"></i>  Register with WPC</button></a>{%endif%}</h1>
    </div>
  </div>

    {%block signup_links%}  
    {%endblock%}  
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {%for b in views%}
            {%if loop.first%}
              <li data-target="#myCarousel" data-slide-to="{{loop.index}}" class="active"></li>
            {%else%}
              <li data-target="#myCarousel" data-slide-to="{{loop.index}}"></li>
            {%endif%}
          {%endfor%}
        </ol>
        <div class="carousel-inner">
          {%for b in views%}
            {%if loop.first%}
              <div class="item active">
            {%else%}
              <div class="item">
            {%endif%}
          <div class="container">
            <div class="carousel-caption" style="bottom:50px;">
              <h1><img src="{{b.cover}}" alt="Blog Image" class="img-rounded" width="100px">  {{b.title}}</h1>
              <p><a class="btn btn-sm btn-success" href="/blog/{{b.key.urlsafe()}}" role="button">Read Blog</a></p>
              <a href=""><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
            </div>
          </div>
          </div>
          {%endfor%}
       </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div><!-- /.carousel -->
      <div id="my_blogs">
      </div>

    <h1> All Blogs </h1>
    <hr class="horizontal-line">
    <div id="blog_sort">
    {%if me%}
        <h4>Filter By :</h4><a href="">	Trendiest	</a>|<a onclick="newest_blogs();" href="javascript:void(0);">	Newest	</a>|<a onclick="oldest_blogs();" href="javascript:void(0);">	Oldest	</a>|<a href="">	Highest Rating	</a>|<a onclick="myblogs();" href="javascript:void(0);">	<em>My Blogs</em>	</a>
    {%else%}
        <h4>Filter By :</h4><a href=""> Trendiest </a>|<a onclick="newest_blogs();" href="javascript:void(0);"> Newest  </a>|<a onclick="oldest_blogs();" href="javascript:void(0);"> Oldest  </a>|<a href="">  Highest Rating  </a>
    {%endif%}
    </div>
  	<div class="col-md-12" id="blogs_section">
      {%for b in blogs%}
      {% else %}
          <div>
            <h2>No Blogs in {{me.name}} Portfolio</h2>
            {%if me == user%}
            <a href="/newblog">Add Blog</a>
            {%endif%}
          </div>
          {%set no_blogs = 1%}
      {% endfor %}
      {%if no_blogs != 1%}
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in blogs%}
      {%if loop.index % 4 == 1%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in blogs%}
      {%if loop.index % 4 == 2%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in blogs%}
      {%if loop.index % 4 == 3%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in blogs%}
      {%if loop.index % 4 == 0%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      {%endif%}
    </div>


<div style="display:none;">
  <div id="my_blogs">
    <br>
    <h1> My Blogs </h1>
    <hr class="horizontal-line">
    <div class="row col-md-12 col-sm-12" style="margin:0px;">
      {%for b in myblogs%}
      {% else %}
          <div>
            <h2>No Blogs in {{me.name}} Portfolio</h2>
            {%if me == user%}
            <a href="/newblog">Add Blog</a>
            {%endif%}
          </div>
          {%set no_blogs = 1%}
      {% endfor %}
      {%if no_blogs != 1%}
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in myblogs%}
      {%if loop.index % 4 == 1%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in myblogs%}
      {%if loop.index % 4 == 2%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in myblogs%}
      {%if loop.index % 4 == 3%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in myblogs%}
      {%if loop.index % 4 == 0%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      {%endif%}
      </div>
      <div class="col-md-12"><hr></div>
  </div>
</div>

<div style="display:none;">
  <div id="oldest_blogs">
    <br>
    <div class="row col-md-12 col-sm-12" style="margin:0px;">
      {%for b in oldest%}
      {% else %}
          <div>
            <h2>No Blogs in {{me.name}} Portfolio</h2>
            {%if me == user%}
            <a href="/newblog">Add Blog</a>
            {%endif%}
          </div>
          {%set no_blogs = 1%}
      {% endfor %}
      {%if no_blogs != 1%}
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in oldest%}
      {%if loop.index % 4 == 1%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in oldest%}
      {%if loop.index % 4 == 2%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in oldest%}
      {%if loop.index % 4 == 3%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in oldest%}
      {%if loop.index % 4 == 0%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      {%endif%}
      </div>
      <div class="col-md-12"><hr></div>
  </div>
</div>

<div style="display:none;">
  <div id="newest_blogs">
    <br>
    <div class="row col-md-12 col-sm-12" style="margin:0px;">
      {%for b in newest%}
      {% else %}
          <div>
            <h2>No Blogs in {{me.name}} Portfolio</h2>
            {%if me == user%}
            <a href="/newblog">Add Blog</a>
            {%endif%}
          </div>
          {%set no_blogs = 1%}
      {% endfor %}
      {%if no_blogs != 1%}
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in newest%}
      {%if loop.index % 4 == 1%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
             <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in newest%}
      {%if loop.index % 4 == 2%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in newest%}
      {%if loop.index % 4 == 3%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
      {%for b in newest%}
      {%if loop.index % 4 == 0%}
              <a href="/blog/{{b.key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.title}}</h3>
              <img src="{{b.cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.content | safe }}</div>...
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      {%endif%}
      </div>
      <div class="col-md-12"><hr></div>
  </div>
</div>
<script>
  function myblogs() {
     $( "#my_blogs" ).load( "/blogs #my_blogs" );
  }
</script>
<script>
  function newest_blogs() {
     $( "#blogs_section" ).load( "/blogs #newest_blogs" );
  }
</script>
<script>
  function oldest_blogs() {
     $( "#blogs_section" ).load( "/blogs #oldest_blogs" );
  }
</script>

{%endblock%}