{%if me%}
		{%extends "index_user.html"%}
{%else%}
		{%extends "index.html"%}
{%endif%}

{%block title%}
  {%if me%}
    {{me.name}} | Blogs | WPC
  {%else%}
    Blogs | WPC
  {%endif%}
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">
{%endblock%}

{%block carousel%}
{%endblock%}

{%block pageContent%}
    <h1> {{user.name}}<em> Blogs</em>  {%if not me%}<a href="/signin"><button class="btn btn-xs btn-danger" type="button"><i class="fa fa-register" style="color:white;"></i>  Register with WPC</button></a>{%endif%}</h1>

    {%block signup_links%}  
    {%endblock%}  
<div class="post">
  <div class="post-heading">
    <div class="post-title">
	    <div class="callout" style="background: url({{blog.cover}}) no-repeat center center fixed;background-size: cover;">
	        <div class="vert-text">
	            <div class="row">
	                <div class="col-md-8 col-md-offset-2 text-center">
	                    <h1>{{blog.title}}</h1>
						<img class="img-circle" src="{{user.avatar_url}}" height="100px" alt="Generic placeholder image">
						<a href="/{{user.key.id()}}"><h5 style="color:white;"><em>{{user.name}}<em></h5></a>
						<hr>
	                    <h3 style="color:black;">{{blog.likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{blog.viewed}} <i class="fa fa-eye fa-1x"></i></h3>
	                </div>
	            </div>
	        </div>
	    </div>
      <div class="button-container post-action padding_top">
      {%if me == user%}
        <form method="post">
          <input type="hidden" name="actionType" value="edit">
          <input type="hidden" name="blogKey" value="{{blog.key.urlsafe()}}">
          <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-edit" style="color:white;"></span></button>
        </form>
        <form method="post">
          <input type="hidden" name="actionType" value="delete">
          <button class="btn btn-success btn-xs" type="submit"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
        </form>
        <button class="btn btn-success btn-xs" data-toggle="modal" data-target=".share_modal"><i class="fa fa-share fa-1x"></i></button>
        {%else%}
          <button class="btn btn-success btn-xs" data-toggle="modal" data-target=".share_modal"><i class="fa fa-share fa-1x"></i></button>
        <form method="post">
          <input type="hidden" name="actionType" value="like">
          <button class="btn btn-info btn-xs" type="submit"><i class="fa fa-thumbs-o-up fa-1x"></i></button>
        </form>
        <form method="post">
          <input type="hidden" name="actionType" value="add">
          <input type="hidden" name="blogKey" value="{{blog.key.urlsafe()}}">
          <button class="btn btn-info btn-xs" type="submit"><i class="fa fa-plus fa-1x"></i></button>
        </form>
        {%endif%}
        </div>
      </div>
    </div>
    <div class="post-date">
      {{blog.updated.strftime("%b %d, %Y")}}
    </div>
    <div class="col-md-12 text-center">
        <p>Ads</p>
        <img src="/images/img_2.jpg"  height="90px" width="728px">
    </div>
    <div class="row"><hr></div>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script type="text/javascript">
(function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
}(document));
</script>



    <div class="modal fade share_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Share Profile</h4>
          </div>
          <form role="form" method="post">
            <input type="hidden" name="formType" value="share_links">
            <br>
                <h4>Link to Profile</h4>
                <h4 style="color:blue;"><em>http://www.worldphotographersclub.com/blog/{{blog.key.urlsafe()}}</em></h4><br>
                <p>or</p>
              <ul class="list-inline">
                <li><a class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-width="100"></a></li>
                <li><a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a></li>
                <li><div class="g-plus" data-action="share" data-height="30"></div></li>
                 <li><a href="http://www.pinterest.com/pin/create/button/
                    ?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F
                    &media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg
                    &description=Next%20stop%3A%20Pinterest"
                    data-pin-do="buttonPin"
                    data-pin-config="above">
                    <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
                </a></li>
              </ul>
          </form>
        </div>
      </div>
    </div>
  <ul class="nav nav-pills nav-justified" role="tablist" id="blog_comment_option">
    <li class="active"><a onclick="blogs();" href="javascript:void(0);"><h4>Blog</h4></a></li>
    <li><a onclick="comments();" href="javascript:void(0);"><h4>Comments</h4></a></li>
  </ul>
  <div class="row"><hr></div>
  <div id="content">
    <div class="col-md-8 col-sm-10 col-xs-10 post-content blog_content" style="text-align:left;font-family:serif;" id="blog_content">
      <h4>{{blog.content | safe}}</h4>
    </div>
  </div>
   <div class="row"></div>
   <div style="display:none;">
      <div id="comments">
        <div class="row"><hr></div>
          <div class="col-md-8 col-md-offset-2">
              <form method="post">
                <div class="input-group">
                  <input type="hidden" name="actionType" value="add_comment">
                  <input type="text" class="form-control" name="comment" placeholder="Say something about the blog">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
              </form>
            </div>
            <div class="row"><hr></div>
        <div class="col-md-8 col-md-offset-2">
            {%for comment in blog.comments|reverse%}
            <div class="col-md-3" style="margin:0px">
              <h5 style="color:green;"><img src="{{comment.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{comment.parent().get().wpc_name}}">{{comment.parent().get().name}}</a></em><p style="font-size:10px;">{{comment.get().created.strftime("%c")}}</p></h5>
            </div>
            <div class="col-md-8 col-md-offset-1" style="margin:0px;text-align:left;">
              <p>{{comment.get().content}}</p>
              
            </div>
            <div class="row col-md-12" style="margin:0px"><hr></div>
            {%endfor%}
          </div>
      </div>
   </div>
   <div style="display:none;">
      <div id="blogs">
        <div class="col-md-8 col-sm-10 col-xs-10 post-content blog_content" style="text-align:left;font-family:serif;" id="blog_content">
          <h4>{{blog.content | safe}}</h4>
        </div>
      </div>
    </div>
<div class="col-md-12 text-center">
        <p>Ads</p>
        <img src="/images/img_2.jpg"  height="90px" width="728px">
    </div>
<script>
  function comments() {
    $( "#content" ).load( "/blog/{{blog.key.urlsafe()}} #comments" );
    document.getElementById("blog_comment_option").innerHTML = "<li><a onclick='blogs();' href='javascript:void(0);'><h4>Blog</h4></a></li><li class='active'><a onclick='comments();' href='javascript:void(0);'><h4>Comments</h4></a></li>";
  }

  function blogs() {
    $( "#content" ).load( "/blog/{{blog.key.urlsafe()}} #blogs" );
    document.getElementById("blog_comment_option").innerHTML = "<li class='active'><a onclick='blogs();' href='javascript:void(0);'><h4>Blog</h4></a></li><li><a onclick='comments();' href='javascript:void(0);'><h4>Comments</h4></a></li>";
  }
  </script>
{%endblock%}