{%extends "index.html"%}

{%block title%}
Home | WPC
{%endblock%}
{%block homepage_links%}
{%endblock%}

{%block userNavLinks%}
	<ul class="nav navbar-nav navbar-right" style="text-align:left;">
		<li style="margin:15px 0px 0px 0px;" id="loading"></li>
		<li><a class="" href="/{{me.key.id()}}" title="Your WPC Score is #{{me.wpc_score}}" style="color:yellow;font-size:20px;" ><em>{{me.name}}</em></a></li>
		<li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
		<li><a href="/{{me.key.id()}}/photos"><span class="glyphicon glyphicon-picture"></span></a></li>
		  <li>
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span><b class="caret"></b></a>
			  <ul class="dropdown-menu" role="menu">
				  <li><a href="/newphoto"><span class="glyphicon glyphicon-picture"></span> Photos</a></li>
				  <li><a href="/newblog"><span class="glyphicon glyphicon-pencil"></span> Blog Post</a></li>
				  <li><a href="/newgroup"><i class="fa fa-group"></i> Group</a></li>
				  <!--<li><a href="/forum"><span class="glyphicon glyphicon-bell"></span> A Question</a></li>-->
				  <li><a href="/newportfolio"><i class="fa fa-camera"></i> Portfolio ({{len(me.portfolios)}}/2)</a></li>
			  </ul>
		  </li>
		  <li>
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
			  <ul class="dropdown-menu" role="menu">
				  <li><a href="/{{me.key.id()}}/blogs"><span class="glyphicon glyphicon-pencil"></span> My Blogs</a></li>
				  <!--<li><a href="/{{me.key.id()}}/q&a"><span class="glyphicon glyphicon-bell"></span> My Questions</a></li>-->
				  <li><a href="/{{me.key.id()}}/groups"><i class="fa fa-group"></i> My Groups</a></li>
				  <li><a href="/{{me.key.id()}}/ideabook"><span class="glyphicon glyphicon-heart-empty"></span> My Ideabook</a></li>
				  <li><a href="/{{me.key.id()}}/portfolios"><span class="glyphicon glyphicon-camera"></span> My Portfolios</a></li>
				  <li class="divider"></li>
				  <li><a href="" data-toggle="modal" data-target="invite_friends"><i class="fa fa-phone"></i> Invite Friends</a></li>
				  <li><a href="/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
				  <li class="divider"></li>
				  <li><a href="/{{me.key.id()}}/about"><i class="fa fa-key"></i> About</a></li>
				  <li><a href="/logout"><span class="glyphicon glyphicon-send"></span> Sign Out</a></li>
			  </ul>
		  </li>
		  <li class="dropdown">
			  <a onclick="mark_read()" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span><b class="caret"></b><span id="notification_count" class="badge pull-right"></span></a>
			  <ul class="dropdown-menu">
				  <li id="notification_messages">
					<div id="messages_all" class="messages_container">
						<h3 style="color:gray;">Notifications</h3>
						<hr>
						<div id="unseen_msgs"></div>
					  {%for m in messages%}
					  	{%if m.message_type == 1%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;">added new photos</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  <a href="/{{m.sender.get().key.id()}}/photos"><p>Go to {{m.sender.get().name}} photos</p></a>
						 {%endif%}
						 {%if m.message_type == 2%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;">added a new blog</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  <a href="/blog/{{m.message_blog.get().key.urlsafe()}}"><p>Go to blog "{{m.message_blog.get().title}}"</p><img src="{{m.message_blog.get().cover}}" class="img-responsive"></a>
						 {%endif%}
						 {%if m.message_type == 3%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;">added a new group</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  <a href="/group/{{m.message_group.get().key.urlsafe()}}"><p>Go to group "{{m.message_group.get().name}}"</p><img src="{{m.message_group.get().cover_photo}}" class="img-responsive"></a>
						 {%endif%}
						 {%if m.message_type == 4%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;">sent you a private message</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  <a href="/home"><p>"{{m.message}}"</p></a>
						 {%endif%}
						 {%if m.message_type == 5%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;"> has given you an Award</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  		{%if m.message == 'Simply_Awesome'%}
				                  {% set award_name =  'Simply Awesome'%}
				                {%elif m.message == 'Jaw_Dropping'%}
				                  {% set award_name =  'Jaw Dropping'%}
				                {%elif m.message == 'World_Class'%}
				                  {% set award_name =  'World Class'%}
				                {%elif m.message == 'Beautiful_Composition'%}
				                  {% set award_name =  'Beautiful Composition'%}
				                {%elif m.message == 'Piece_of_Art'%}
				                  {% set award_name =  'Piece of Art'%}
				                {%elif m.message == 'Truly_Inspirational'%}
				                  {% set award_name =  'Truly Inspirational'%}
				                {%endif%}
								<div><i style="color:gold;" class="fa fa-trophy fa-2x"></i>
                      			<h5>{{award_name}}</h5></div>
						 {%endif%}
						 {%if m.message_type == 6%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;"> has given your photo <span style="color:blue;">{{m.message_photo.get().caption}}</span> an Award</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  		{%if m.message == 'Simply_Awesome'%}
				                  {% set award_name =  'Simply Awesome'%}
				                {%elif m.message == 'Jaw_Dropping'%}
				                  {% set award_name =  'Jaw Dropping'%}
				                {%elif m.message == 'World_Class'%}
				                  {% set award_name =  'World Class'%}
				                {%elif m.message == 'Beautiful_Composition'%}
				                  {% set award_name =  'Beautiful Composition'%}
				                {%elif m.message == 'Piece_of_Art'%}
				                  {% set award_name =  'Piece of Art'%}
				                {%elif m.message == 'Truly_Inspirational'%}
				                  {% set award_name =  'Truly Inspirational'%}
				                {%endif%}
								<div><i style="color:gold;" class="fa fa-trophy fa-2x"></i>
                      			<h5>{{award_name}}</h5></div>
                      			<a href="/photo/{{m.message_photo.get().key.urlsafe()}}"><div class="panel-thumbnail"><img src="{{get_serving_url(m.message_photo.get().blobKey)}}" class="img-responsive"></div></a>
						 {%endif%}
						  {%if m.message_type == 7%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;">liked your photo <span style="color:blue;">{{m.message_photo.get().caption}}</span></span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  <a href="/photo/{{m.message_photo.get().key.urlsafe()}}"><div class="panel-thumbnail"><img src="{{get_serving_url(m.message_photo.get().blobKey)}}" class="img-responsive"></div></a>
						 {%endif%}
						  {%if m.message_type == 8%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;"> is following you</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						 {%endif%}
						  {%if m.message_type == 9%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;"> joined your group {{m.message_group.get().name}}</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						   <a href="/group/{{m.message_group.get().key.urlsafe()}}"><p>Go to group "{{m.message_group.get().name}}"</p><img src="{{m.message_group.get().cover_photo}}" class="img-responsive"></a>
						 {%endif%}
						 {%if m.message_type == 10%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;"> liked your blog {{m.message_blog.get().title}}</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						   <a href="/blog/{{m.message_blog.get().key.urlsafe()}}"><p>Go to blog "{{m.message_blog.get().title}}"</p><img src="{{m.message_blog.get().cover}}" class="img-responsive"></a>
						 {%endif%}
						 {%if m.message_type == 11%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;">  updated his status</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  <p>"{{m.message}}"</p>
						 {%endif%}
						 {%if m.message_type == 12%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;">  added your photo to his Ideabook</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  <a href="/photo/{{m.message_photo.get().key.urlsafe()}}"><div class="panel-thumbnail"><img src="{{get_serving_url(m.message_photo.get().blobKey)}}" class="img-responsive"></div></a>
						 {%endif%}
						 {%if m.message_type == 13%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;">  commented on your photo</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						  <a href="/photo/{{m.message_photo.get().key.urlsafe()}}"><div class="panel-thumbnail"><img src="{{get_serving_url(m.message_photo.get().blobKey)}}" class="img-responsive"></div></a>
						  <p>"{{m.message}}"</p>
						 {%endif%}
						 {%if m.message_type == 14%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;"> commented on your blog {{m.message_blog.get().title}}</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						   <a href="/blog/{{m.message_blog.get().key.urlsafe()}}"><p>Go to blog "{{m.message_blog.get().title}}"</p><img src="{{m.message_blog.get().cover}}" class="img-responsive"></a>
						  <p>"{{m.message}}"</p>
						 {%endif%}
						  {%if m.message_type == 15%}
						  <h5 style="color:green;"><img src="{{m.sender.get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em><a href="/{{m.sender.get().key.id()}}">{{m.sender.get().name}}</a> <span style="color:black;"> sent a message to the group {{m.message_group.get().name}}</span></em><p style="font-size:10px;">{{m.updated.strftime("%c")}}</p></h5>
						   <a href="/group/{{m.message_group.get().key.urlsafe()}}"><p>Go to group "{{m.message_group.get().name}}"</p><img src="{{m.message_group.get().cover_photo}}" class="img-responsive"></a>
						   <p>"{{m.message}}"</p>
						 {%endif%}
						  <hr>
					  {%endfor%}
					</div>
				  </li>
			  </ul>
		  </li>
	</ul>
{%endblock%}
{%block signup_links%}  
{%endblock%}

		
