{%extends "index.html"%}

{%block title%}
Home | WPC
{%endblock%}
{%block homepage_links%}
{%endblock%}

{%block userNavLinks%}
	<ul class="nav navbar-nav navbar-right" style="text-align:left;">
		<li><a class="" href="/{{me.key.id()}}" style="color:yellow;font-size:20px;" ><em>{{me.name}}</em></a></li>
		<li><a href="/{{me.key.id()}}/home"><span class="glyphicon glyphicon-home"></span></a></li>
		<li><a href="/{{me.key.id()}}/photos"><span class="glyphicon glyphicon-picture"></span></a></li>
		  <li>
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span><b class="caret"></b></a>
			  <ul class="dropdown-menu" role="menu">
				  <li><a href="/newphoto"><span class="glyphicon glyphicon-camera"></span> Photos</a></li>
				  <li><a href="/newblog"><span class="glyphicon glyphicon-pencil"></span> Blog Post</a></li>
				  <li><a href="/newgroup"><i class="fa fa-group"></i> Group</a></li>
				  <li><a href="/forum"><span class="glyphicon glyphicon-bell"></span> A Question</a></li>
			  </ul>
		  </li>
		  <li>
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
			  <ul class="dropdown-menu" role="menu">
				  <li><a href="/{{me.key.id()}}/blogs"><span class="glyphicon glyphicon-heart-empty"></span> My Blogs</a></li>
				  <li><a href="/{{me.key.id()}}/forum"><span class="glyphicon glyphicon-heart-empty"></span> My Questions</a></li>
				  <li><a href="/{{me.key.id()}}/groups"><span class="glyphicon glyphicon-heart-empty"></span> My Groups</a></li>
				  <li><a href="/{{me.key.id()}}/ideabook"><span class="glyphicon glyphicon-heart-empty"></span> My Ideabook</a></li>
				  <li><a data-toggle="modal" data-target=".my_portfolios"><span class="glyphicon glyphicon-heart-empty"></span> My Portfolios</a></li>
				  <li class="divider"></li>
				  <li><a href="" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-phone"></i> Invite Friends</a></li>
				  <li><a href="/usersettings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
				  <li class="divider"></li>
				  <li><a href="/logout"><span class="glyphicon glyphicon-send"></span> Sign Out</a></li>
			  </ul>
		  </li>
		  <li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span><b class="caret"></b><span class="badge pull-right">42</span></a>
			  <ul class="dropdown-menu">
				  <li>
					<div class="messages_container">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Photographer added new Photos</p></a>

					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Your photo is used by Photographer in his blog/forum/group XYZ</p></a>
					  
					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Photographer Commented on your photo</p></a>

					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Photographer added new Photos</p></a>

					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Your photo is used by Photographer in his blog/forum/group XYZ</p></a>
					  
					  <hr class="horizontal-line">
					  <a href=""><h5 style="color:green;"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="25px"> <em>{{me.name}}</em></h5>
					  <p>Photographer Commented on your photo</p></a>
					</div>
				  </li>
			  </ul>
		  </li>
	</ul>
{%endblock%}
{%block signup_links%}  
{%endblock%}
{%block pageContent%}

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Invite Friends to join WPC</h4>
          </div>
          <div class="modal-body">
              <textarea class="textarea_no_border" name="title" cols="100" rows="2" placeholder="Enter Email Addresses seperated by commas" ></textarea><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-xs btn-primary">Send Invitations</button>  or
            <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-facebook fa-1x"></i></button>
            <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-google-plus fa-1x"></i></button>
          </div>
        </div>
      </div>
    </div>
	<div class="modal fade my_portfolios" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">My Portfolios</h4>
          </div>
			<div class="col-md-3">
			  <a href=""><h4>All Photos</h4>	
			  <img src="http://localhost:8080/servephoto/dO70iCYthqnzzeuJcQVpdw==" alt="Profile Image" class="img-rounded" width="140px"></a><br>
				<div class="button-container post-action padding_top">
					<form method="post">
						<input type="hidden" name="actionType" value="delete">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="share">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-share fa-1x"></i></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="download">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-download fa-1x"></i></button>
					</form>
				</div>
			</div>
			<div class="col-md-3">
			  <a href=""><h4>All Photos</h4>	
			  <img src="http://localhost:8080/servephoto/dO70iCYthqnzzeuJcQVpdw==" alt="Profile Image" class="img-rounded" width="140px"></a><br>
				<div class="button-container post-action padding_top">
					<form method="post">
						<input type="hidden" name="actionType" value="delete">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="share">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-share fa-1x"></i></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="download">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-download fa-1x"></i></button>
					</form>
				</div>
			</div>
			<div class="col-md-3">
			  <a href=""><h4>All Photos</h4>	
			  <img src="http://localhost:8080/servephoto/dO70iCYthqnzzeuJcQVpdw==" alt="Profile Image" class="img-rounded" width="140px"></a><br>
				<div class="button-container post-action padding_top">
					<form method="post">
						<input type="hidden" name="actionType" value="delete">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="share">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-share fa-1x"></i></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="download">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-download fa-1x"></i></button>
					</form>
				</div>
			</div>
			<div class="col-md-3">
			  <a href=""><h4>All Photos</h4>	
			  <img src="http://localhost:8080/servephoto/dO70iCYthqnzzeuJcQVpdw==" alt="Profile Image" class="img-rounded" width="140px"></a><br>
				<div class="button-container post-action padding_top">
					<form method="post">
						<input type="hidden" name="actionType" value="delete">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="share">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-share fa-1x"></i></button>
					</form>
					<form method="post">
						<input type="hidden" name="actionType" value="download">
						<input type="hidden" name="photoKey" value="">
						<button class="btn btn-primary btn-xs" type="submit" value="Delete"><i class="fa fa-download fa-1x"></i></button>
					</form>
				</div>
			</div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>

    		<!-- Marketing messaging and featurettes
		================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->
			<!-- Three columns of text below the carousel -->
			{%if not me%}
			<div class="row col-md-8 col-md-offset-2" style="text-align:center;">
				<div class="col-lg-4">
					<img class="img-circle" src="/js/holder.js/140x140" alt="Generic placeholder image">
					<h2>Heading</h2>
					<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="img-circle" data-src="/js/holder.js/140x140" alt="Generic placeholder image">
					<h2>Heading</h2>
					<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="img-circle" data-src="/js/holder.js/140x140" alt="Generic placeholder image">
					<h2>Heading</h2>
					<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
					<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->
			<div class="col-md-12">
				<hr>
			</div>
			{%endif%}

			<h1 style="text-align:center;">Latest Articles</h1>
			<div class="col-md-12">
				<hr>
			</div>

			<div class="col-md-10">
				<div class="col-md-10">
					<div class="col-md-6">
						<h2>Music and Photography</h2>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<a class="navbar-brand" href="#" style="color:blue"><img src="/images/image-2.jpg" alt="Profile Image" class="profile-img" width="20px"> Anurag Mathur</a>
					</div>
					<img src="/images/Artists_2.jpg" alt="First slide" width="100%"/>
					<div style="margin-top:2px;">
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
					</div>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				
				<div class="col-md-10">
					<div class="col-sm-8">
					<h2>Music and Photography</h2>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
					<a class="navbar-brand" href="#" style="color:blue"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="20px"> Anurag Mathur</a>
					</div>
					<img src="/images/Artist_1.jpg" alt="First slide" width="100%"/>
					<div style="margin-top:2px;">
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
					</div>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				
				<div class="col-md-10">
					<div class="col-sm-8">
					<h2>Music and Photography</h2>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
					<a class="navbar-brand" href="#" style="color:blue"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="20px"> Anurag Mathur</a>
					</div>
					<img src="/images/faith_disrupted.jpg" alt="First slide" width="100%"/>
					<div style="margin-top:2px;">
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
					</div>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				
				<div class="col-md-10">
					<div class="col-sm-8">
					<h2>Music and Photography</h2>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
					<a class="navbar-brand" href="#" style="color:blue"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="20px"> Anurag Mathur</a>
					</div>
					<img src="/images/Reflections.jpg" alt="First slide" width="100%"/>
					<div style="margin-top:2px;">
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
					</div>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
			</div>
			<div class="col-md-2">
				<p>Ads</p>
				<img src="/images/img_2.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_2.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_2.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<hr>

				<p>Trending Photographers</p>
				<img src="/images/img_2.jpg" class="profile-img" width="100px">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_2.jpg" class="profile-img" width="100px">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_2.jpg" class="profile-img" width="100px">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<p>Top Photos</p>
				<img src="/images/img_1.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_1.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_1.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<p>Trending Blogs</p>
				<img src="/images/img_3.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_3.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_3.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>
			</div>

{%endblock%}
		
