<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>
			{%block title%}
			{{title}}
			{%endblock%}
		</title>
		<link rel="icon" href="/images/wpc_app_icon.png">

		{%block styleSheets%}
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/cover1.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/css/my_studio.css" rel="stylesheet">
		<link href="/css/carousel.css" rel="stylesheet">
		<link href="/css/font.css" rel="stylesheet">
		 <script src="/js/ckeditor.js"></script>
		{%endblock%}
	</head>
<!-- NAVBAR
================================================== -->
	<body>
		 <nav class="navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <!--<a class="navbar-brand" href="/" style="font-family:arial;color:yellow;font-size:30px;">wpc</a>-->
                  <a class="navbar-brand" href="/" style="margin:0px;padding:1px;"><img style="margin:0px;" src="/images/logo7.png" height="70px" alt="WPC Logo"/></a>
              </div>
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              	{%block wpcNavLinks%}
                  <ul class="nav navbar-nav">
                      <li><a href="/photos">Photos</a></li>
                      <li><a href="/blogs">Blogs</a></li>
                      <li class="dropdown">
							<!-- Split button -->
							<div class="btn-group" style="margin-top:10px;">
							<form method="post" action="/explore">
							  <input type="hidden" name="actionType" value="explore">
							  <button type="submit" class="btn btn-primary" style="color:white;"><em>EXPLORE</em></button>
							</form>
							<!--
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <form class="dropdown-menu" style="text-align:left;padding-left:5px; " role="menu" action="/explore">
							    <li><input type="checkbox" value="everything" checked> Everything</li>
							    <li class="divider"></li>
							    <li><input type="checkbox" value="photos"> Photos</li>
							    <li><input type="checkbox" value="photographers"> Photographers</li>
							    <li><input type="checkbox" value="groups"> Groups</li>
							    <li><input type="checkbox" value="blogs"> Blogs</li>
							    <li><input type="checkbox" value="forum"> Forum</li>
							    <li class="divider"></li>
							    <li style="text-align:center;"><button class="btn btn-sm btn-primary" type="submit">EXPLORE</button></li>
							  </form>-->
							</div>
                      </li>
                      {%block homepage_links%}
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Contact</a></li>
                              <li><a href="#">License and FAQ</a></li>
                              <li class="divider"></li>
                              <li class="disabled"><a href="#">Careers at WPC</a></li>
                          </ul>
                      </li>
                      <li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href="www.twitter.com"><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href="www.googleplus.com"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                      <li><a href="www.pinterest.com"><i class="fa fa-pinterest fa-2x"></i></a></li>
                      {%endblock%}
                  </ul>
                  <form class="navbar-form navbar-left" role="search" action="/search" method="post">
                      <div class="form-group">
                          <input type="text" name="search_string" class="form-control" placeholder="Search" size="40">
                      </div>
                  </form>
                  {%endblock%}
                  {%block userNavLinks%}
                  <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li>
                                <div class="form_signin_container">
                                    <form class="form-signin" role="form"  onsubmit="return validateLogin()" action="/login" method="post" name="login_form">
                                        <h2 class="form-signin-heading">Please sign in</h2>
                                        <input type="text" name="wpc_name" class="form-control" placeholder="WPC User Name" value="{{signupEmail}}" required autofocus>
                                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                                        <label><input type="checkbox" value="remember-me"> Remember Me</label>
                                        <button class="btn btn-lg btn-success btn-block" type="submit">Log In</button>
                                    </form>
                                </div>
                              </li>
                              <li class="divider"></li>
                              <li><a href="#">Forgot Password</a></li>
                          </ul>
                      </li>
                  </ul>
                  {%endblock%}
              </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
{%block signup_links%}  
    <div class="carousel-caption carousel-caption-welcome-text">
        <h1 style="text-align:center;font-family:Tahoma, Geneva, sans-serif;">World Photographer's Club</h1><br>
    </div>

    <div class="carousel-caption carousel-caption-welcome-text carousel-signup">
        <div class="signup_buttons">
		<a href="/signin"><button class="btn btn-lg btn-transparent" type="button" style="color:white;"><i class="fa fa-envelope" style="color:white;"></i>  Sign in with Email</button></a>
		<a href="/signin"><button class="btn btn-lg btn-transparent" type="button" style="color:white;"><i class="fa fa-facebook" style="color:white;"></i>  Sign in with Facebook</button></a>
		<a href="/signin"><button class="btn btn-lg btn-transparent" type="button" style="color:white;"><i class="fa fa-google-plus" style="color:white;"></i>  Sign in with Google</button></a>
        </div>
    </div>
 {%endblock%}   
		<!-- Carousel
		================================================== -->
		{%block carousel%}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {%for p in top_score%}
		     {%if loop.first%}
	          <div class="item active">
	        {%else%}
	          <div class="item">
	        {%endif%}
	          <a href="/photo/{{p.key.urlsafe()}}"><img src="{{get_serving_url(p.blobKey)}}" alt="{{p.name}}"/></a>
	          <div class="container">
	            <div class="carousel-caption">
					<div class="navbar-wrapper">
					  <div class="container">
						<div class="navbar navbar-transparent navbar-static-top" style="margin-top:70px" role="navigation">
						  <div class="container">
							<div class="navbar-header">
							  <a class="navbar-brand" href="/{{p.key.parent().get().wpc_name}}" style="color:white"><img src="{{p.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="20px">{{p.key.parent().get().name}}</a>
							</div>
							<div class="navbar-collapse collapse">
							{%if me%}
							<ul class="nav navbar-nav">
								{%if me.key == p.key.parent().get().key%}
							         <li style="margin:13px;">
							         	<button class="btn_genre" disabled="disabled" id="after_like_{{loop.index}}" title="Like This Image">
							         		<a onclick="own_like_button();" href="javascript:void(0);">
							         			<i class="fa fa-thumbs-o-up" style="color:white;"></i>
							         		</a>
							         	</button>
							         </li>
							          <li style="margin:13px;">
							          	<button class="btn_genre" disabled="disabled" id="after_add_{{loop.index}}" title="Add this Image to Ideabook">
							          		<a onclick="own_add_button();" href="javascript:void(0);">
							          			<i class="fa fa-plus" style="color:white;"></i>
							          		</a>
							          	</button>
							          </li>
						          {%else%}
							          <li style="margin:13px;">
							         	<button class="btn_genre" id="after_like_{{loop.index}}" title="Like This Image">
							         		<a onclick="like_button('{{p.key.urlsafe()}}', 'after_like_{{loop.index}}');" href="javascript:void(0);">
							         			<i class="fa fa-thumbs-o-up" style="color:white;"></i>
							         		</a>
							         	</button>
							         </li>
							          <li style="margin:13px;">
							          	<button class="btn_genre" id="after_add_{{loop.index}}" title="Add this Image to Ideabook">
							          		<a onclick="add_button('{{p.key.urlsafe()}}', 'after_add_{{loop.index}}');" href="javascript:void(0);">
							          			<i class="fa fa-plus" style="color:white;"></i>
							          		</a>
							          	</button>
							          </li>
						          {%endif%}
						         <li style="margin:13px;">
						            <button class="btn_genre" type="submit" title="Go to {{p.key.parent().get().wpc_name}}'s photos"><a href="/{{p.key.parent().get().wpc_name}}/photos"><span style="color:white;"class="glyphicon glyphicon-picture"></span></a></button>
						         </li>	
							  </ul>
							 {%else%}
							  <ul class="nav navbar-nav">
								<li style="margin:13px;">
						            <button class="btn_genre" data-toggle="modal" data-target=".login_for_action" title="Like This Image"><i class="fa fa-thumbs-o-up" style="color:white;"></i></button>
						         </li>
								<li style="margin:13px;">
						            <button class="btn_genre" data-toggle="modal" data-target=".login_for_action" title="Add this Image to Ideabook"><i class="fa fa-plus" style="color:white;"></i></button>
						         </li>
						         <li style="margin:13px;">
						            <button class="btn_genre" type="submit" title="Go to {{p.key.parent().get().wpc_name}}'s photos"><a href="/{{p.key.parent().get().wpc_name}}/photos"><span style="color:white;"class="glyphicon glyphicon-picture"></span></a></button>
						         </li>	
							  </ul>
							{%endif%}
							</div>
						  </div>
						</div>
					  </div>
					</div>
	            </div>
	          </div>
	        </div>
	     {%if loop.index % 5 == 0%}
         <div class="item">
	        <div class="item">
	        <div style="margin:200px;">
	          <img src="/images/img_2.jpg" height="250px" width="300px">
	          <img src="/images/img_2.jpg" height="250px" width="300px">
	          <img src="/images/img_2.jpg" height="250px" width="300px">
	      	</div>
	          <div class="container">
	            <div class="carousel-caption">
					<div class="navbar-wrapper">
					  <div class="container">
						<div class="navbar navbar-transparent navbar-static-top" style="margin-top:70px" role="navigation">
						  <div class="container">
							<div class="navbar-header">
							  <a class="navbar-brand" href="#" style="color:white">ADs</a>
							</div>
							<div class="navbar-collapse collapse">
							  <ul class="nav navbar-nav">
							  </ul>
							</div>
						  </div>
						</div>
					  </div>
					</div>
	            </div>
	          </div>
	        </div>
         </div>
        {%endif%}
        {%endfor%}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

     <div class="modal fade login_for_action" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">You have to Signin/signup to perform this action</h4>
          </div>
          <br>
          <a href="/signin"><button class="btn btn-lg btn-success" type="button"><i class="fa fa-envelope" style="color:white;"></i>  Signin/Signup</button></a>
          <hr>
        </div>
      </div>
    </div>
		{%endblock%}
		<!-- /.carousel -->

		{%block pageContent%}
    		<!-- Marketing messaging and featurettes
		================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->
			<!-- Three columns of text below the carousel -->
			{%if not me%}
			<div class="row col-md-12" style="text-align:center;">
				<div class="col-md-3">
					<div class="service-item">
                      <a href="#photos"><div class="service-icon-search"><h6><br><h2>Inspire</h2></h6></div></a>
                  </div>
					<h2>Get Inspired</h2>
					<p>Browse thousands of photographs and connect with inspiring photographers.</p>
				</div><!-- /.col-lg-4 -->
				<div class="col-md-3">
					<div class="service-item">
                      <a href="#photos"><div class="service-icon-search"><h6><br><h2>Find</h2></h6></div></a>
                  </div>

					<h2>Find Photographers</h2>
					<p>Find photographers with similar interests, passions and help each other.</p>
				</div><!-- /.col-lg-4 -->
				<div class="col-md-3">
					<div class="service-item">
                      <a href="#photos"><div class="service-icon-search"><h6><br><h2>Explore</h2></h6></div></a>
                  </div>
					<h2>Explore the world of photography</h2>
					<p>With a simple tap of a button (EXPLORE) browse random pages of photographs, photographers profile, blogs and groups</p>
				</div><!-- /.col-lg-4 -->
				<div class="col-md-3">
					<div class="service-item">
                      <a href="#photos"><div class="service-icon-search"><h6><br><h2>Promote</h2></h6></div></a>
                  </div>
					<h2>Promote</h2>
					<p>Promote your photography and yourself</p>
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
			<div class="col-md-12">
				<hr>
			</div>
			{%endif%}
			<div class="col-md-12 text-center">
		        <p>Ads</p>
		        <img src="/images/img_2.jpg"  height="90px" width="728px">
		    </div>
		    <div class="row"></div>
			<h1 style="text-align:center;">Updates</h1>
		<div class="col-md-12" style="margin:0px;padding:0px;">
		  <div class="col-md-4 col-sm-4 col-xs-12" style="margin:0px;padding:0px;">
		  {%for b in top_blogs%}
			<div class="imageAndText">
			     <a href="/blog/{{b.key.urlsafe()}}"><img src="{{b.cover}}" width="100%" id="temp1" alt="photo" style="-webkit-filter: brightness(50%);"></a>
			    <div class="col">
			        <div class="col-md-12">
			            <h2 style="color:white;">{{b.title}}</h2>
			        </div>
			    </div>
			</div>
	      {% endfor %}
	      </div>
	      <div class="row col-md-4 col-sm-4 col-xs-12" style="margin:0px;padding:0px;">
	      {%for b in top_groups%}
			<div class="imageAndText">
			     <a href="/group/{{b.key.urlsafe()}}"><img src="{{b.cover_photo}}" width="100%" id="temp1" alt="photo" style="-webkit-filter: brightness(50%);"></a>
			    <div class="col">
			        <div class="col-md-12">
			            <h2 style="color:white;">{{b.name}}</h2>
			        </div>
			    </div>
			</div>
	      {% endfor %}
	      </div>
	      <div class="row col-md-4 col-sm-4 col-xs-12" style="margin:0px;padding:0px;">
	      {%for p in top_score%}
	      {%if loop.index <= 4 %}
			<div class="imageAndText">
			     <a href="/photo/{{p.key.urlsafe()}}"><img src="{{get_serving_url(p.blobKey,size=100)}}" width="100%" id="temp1" alt="photo" style="-webkit-filter: brightness(50%);"></a>
			    <div class="col">
			        <div class="col-md-12">
			            <h2 style="color:white;">{{p.caption}}</h2>
			        </div>
			    </div>
			</div>
	      {%endif%}
	      {% endfor %}
	      </div>
	     </div>
		<div class="col-md-12 text-center">
		        <p>Ads</p>
		        <img src="/images/img_2.jpg"  height="90px" width="728px">
		    </div>
		    <div class="row"></div>
			<h1 style="text-align:center;">Newly added Photos</h1>
	     <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
	      {%for p in new_photos%}
	      {%if loop.index % 4 == 1 and p.is_avatar_pic == 0%}
				<a href="/photo/{{p.key.urlsafe()}}"><img src="{{get_serving_url(p.blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
				<div class=" col-md-12" style="margin:0px;">
					<div class="col-md-4" style="padding:0px;">
						<a href="/{{p.key.parent().get().wpc_name}}"><h5 style="color:green;"><img src="{{p.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{p.key.parent().get().name}}</em></h5></a>
					</div>
					<div  class="col-md-4" style="padding:10px;">
						<p>{{p.likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.viewed}} <i class="fa fa-eye fa-1x"></i></p>
					</div>
					{%if me%}
					<div class="col-md-4 button-container" style="padding:10px;">
						{%if me.key == p.key.parent().get().key%}
							<button class="btn btn-info btn-xs" disabled="disabled" id="after_photo_list_like_{{loop.index}}" type="submit" title="Like This Image"><i style="color:white;" class="fa fa-thumbs-up fa-1x"></i></button>
							<button class="btn btn-primary btn-xs" disabled="disabled" id="after_photo_list_add_{{loop.index}}" type="submit" title="Like This Image"><i style="color:white;" class="fa fa-plus fa-1x"></i></button>
						{%else%}
							<button class="btn btn-info btn-xs" id="after_photo_list_like_{{loop.index}}" type="submit" title="Like This Image"><a onclick="photo_list_like_button('{{p.key.urlsafe()}}', 'after_photo_list_like_{{loop.index}}');" href="javascript:void(0);"><i style="color:white;" class="fa fa-thumbs-up fa-1x"></i></a></button>
							<button class="btn btn-primary btn-xs" id="after_photo_list_add_{{loop.index}}" type="submit" title="Like This Image"><a onclick="photo_list_add_button('{{p.key.urlsafe()}}', 'after_photo_list_add_{{loop.index}}');" href="javascript:void(0);"><i style="color:white;" class="fa fa-plus fa-1x"></i></a></button>
						{%endif%}
					</div>
					{%endif%}
				</div>
	      {%endif%}
	      {% endfor %}
	      </div>
	      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
	      {%for p in new_photos%}
	      {%if loop.index % 4 == 2 and p.is_avatar_pic == 0%}
				<a href="/photo/{{p.key.urlsafe()}}"><img src="{{get_serving_url(p.blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
				<div class=" col-md-12" style="margin:0px;">
					<div class="col-md-4" style="padding:0px;">
						<a href="/{{p.key.parent().get().wpc_name}}"><h5 style="color:green;"><img src="{{p.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{p.key.parent().get().name}}</em></h5></a>
					</div>
					<div  class="col-md-4" style="padding:10px;">
						<p>{{p.likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.viewed}} <i class="fa fa-eye fa-1x"></i></p>
					</div>
					{%if me%}
					<div class="col-md-4 button-container" style="padding:10px;">
						{%if me.key == p.key.parent().get().key%}
							<button class="btn btn-info btn-xs" disabled="disabled" id="after_photo_list_like_{{loop.index}}" type="submit" title="Like This Image"><i style="color:white;" class="fa fa-thumbs-up fa-1x"></i></button>
							<button class="btn btn-primary btn-xs" disabled="disabled" id="after_photo_list_add_{{loop.index}}" type="submit" title="Like This Image"><i style="color:white;" class="fa fa-plus fa-1x"></i></button>
						{%else%}
							<button class="btn btn-info btn-xs" id="after_photo_list_like_{{loop.index}}" type="submit" title="Like This Image"><a onclick="photo_list_like_button('{{p.key.urlsafe()}}', 'after_photo_list_like_{{loop.index}}');" href="javascript:void(0);"><i style="color:white;" class="fa fa-thumbs-up fa-1x"></i></a></button>
							<button class="btn btn-primary btn-xs" id="after_photo_list_add_{{loop.index}}" type="submit" title="Like This Image"><a onclick="photo_list_add_button('{{p.key.urlsafe()}}', 'after_photo_list_add_{{loop.index}}');" href="javascript:void(0);"><i style="color:white;" class="fa fa-plus fa-1x"></i></a></button>
						{%endif%}
					</div>
					{%endif%}
				</div>
	      {%endif%}
	      {% endfor %}
	      </div>
	      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
	      {%for p in new_photos%}
	      {%if loop.index % 4 == 3 and p.is_avatar_pic == 0%}
				<a href="/photo/{{p.key.urlsafe()}}"><img src="{{get_serving_url(p.blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
				<div class=" col-md-12" style="margin:0px;">
					<div class="col-md-4" style="padding:0px;">
						<a href="/{{p.key.parent().get().wpc_name}}"><h5 style="color:green;"><img src="{{p.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{p.key.parent().get().name}}</em></h5></a>
					</div>
					<div  class="col-md-4" style="padding:10px;">
						<p>{{p.likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.viewed}} <i class="fa fa-eye fa-1x"></i></p>
					</div>
					{%if me%}
					<div class="col-md-4 button-container" style="padding:10px;">
						{%if me.key == p.key.parent().get().key%}
							<button class="btn btn-info btn-xs" disabled="disabled" id="after_photo_list_like_{{loop.index}}" type="submit" title="Like This Image"><i style="color:white;" class="fa fa-thumbs-up fa-1x"></i></button>
							<button class="btn btn-primary btn-xs" disabled="disabled" id="after_photo_list_add_{{loop.index}}" type="submit" title="Like This Image"><i style="color:white;" class="fa fa-plus fa-1x"></i></button>
						{%else%}
							<button class="btn btn-info btn-xs" id="after_photo_list_like_{{loop.index}}" type="submit" title="Like This Image"><a onclick="photo_list_like_button('{{p.key.urlsafe()}}', 'after_photo_list_like_{{loop.index}}');" href="javascript:void(0);"><i style="color:white;" class="fa fa-thumbs-up fa-1x"></i></a></button>
							<button class="btn btn-primary btn-xs" id="after_photo_list_add_{{loop.index}}" type="submit" title="Like This Image"><a onclick="photo_list_add_button('{{p.key.urlsafe()}}', 'after_photo_list_add_{{loop.index}}');" href="javascript:void(0);"><i style="color:white;" class="fa fa-plus fa-1x"></i></a></button>
						{%endif%}
					</div>
					{%endif%}
				</div>
	      {%endif%}
	      {% endfor %}
	      </div>
	      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
	      {%for p in new_photos%}
	      {%if loop.index % 4 == 0 and p.is_avatar_pic == 0%}
				<a href="/photo/{{p.key.urlsafe()}}"><img src="{{get_serving_url(p.blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
				<div class=" col-md-12" style="margin:0px;">
					<div class="col-md-4" style="padding:0px;">
						<a href="/{{p.key.parent().get().wpc_name}}"><h5 style="color:green;"><img src="{{p.key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{p.key.parent().get().name}}</em></h5></a>
					</div>
					<div  class="col-md-4" style="padding:10px;">
						<p>{{p.likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.viewed}} <i class="fa fa-eye fa-1x"></i></p>
					</div>
					{%if me%}
					<div class="col-md-4 button-container" style="padding:10px;">
						{%if me.key == p.key.parent().get().key%}
							<button class="btn btn-info btn-xs" disabled="disabled" id="after_photo_list_like_{{loop.index}}" type="submit" title="Like This Image"><i style="color:white;" class="fa fa-thumbs-up fa-1x"></i></button>
							<button class="btn btn-primary btn-xs" disabled="disabled" id="after_photo_list_add_{{loop.index}}" type="submit" title="Like This Image"><i style="color:white;" class="fa fa-plus fa-1x"></i></button>
						{%else%}
							<button class="btn btn-info btn-xs" id="after_photo_list_like_{{loop.index}}" type="submit" title="Like This Image"><a onclick="photo_list_like_button('{{p.key.urlsafe()}}', 'after_photo_list_like_{{loop.index}}');" href="javascript:void(0);"><i style="color:white;" class="fa fa-thumbs-up fa-1x"></i></a></button>
							<button class="btn btn-primary btn-xs" id="after_photo_list_add_{{loop.index}}" type="submit" title="Like This Image"><a onclick="photo_list_add_button('{{p.key.urlsafe()}}', 'after_photo_list_add_{{loop.index}}');" href="javascript:void(0);"><i style="color:white;" class="fa fa-plus fa-1x"></i></a></button>
						{%endif%}
					</div>
					{%endif%}
				</div>
	      {%endif%}
	      {% endfor %}
	      </div>
			<div class="col-md-12 text-center">
		        <p>Ads</p>
		        <img src="/images/img_2.jpg"  height="90px" width="728px">
		    </div>
		    <div class="row"></div>
			<h1 style="text-align:center;">New and Trending Photographers</h1>
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top_photos">
		    {%for fl in new_users%}
		        <div class="col-md-2 col-sm-6 col-xs-12">
		            <img class="img-circle" src="{{fl.avatar_url}}" height="100px" alt="Profile image">
		            <a href="/{{fl.key.id()}}"><h5 style="color:black;"><em>{{fl.name}}<em></h5>
		            <img src="/fonts/Flags/{{fl.country}}.png" alt="country" width="40px"></a>
		            <h5 style="color:green"><em>#{{fl.wpc_score}}</em></h5>
		            {%if me%}
		            <div class="button-container">
		            <a href="/{{fl.key.id()}}/photos"><button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button></a>
			            {%if fl.key.id() == me.key.id()%}
			              <button type="button" class="btn btn-info btn-xs"  disabled="disabled"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
			            {%else%}
			              <button class="btn btn-primary btn-xs" id="after_photographer_add_{{loop.index}}" type="submit" title="Follow this Photographer"><a onclick="photographer_add_button('{{fl.key.id()}}', '{{me.key.id()}}', 'after_photographer_add_{{loop.index}}');" href="javascript:void(0);"><i style="color:white;" class="fa fa-plus fa-1x"></i></a></button>
			            {%endif%}
		        	</div>
		        	{%endif%}
		        </div><!-- /.col-lg-4 -->
		   {%endfor%}
		    </div>
			{%endblock%}
			{%block footer%}
			<!-- FOOTER -->
			<footer>
				<div class="row col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-6 col-md-offset-3 text-center">
						<ul class="list-inline">
							<li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-3x"></i></a>
							</li>
							<li><a href="www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-pinterest fa-3x"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-6 col-md-offset-3" style="text-align:center;">
						<p>&copy; 2014 World Photographer's Club &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms </a>&middot; <a href="#"> Contact Us</a></p>
					</div>
					<div class="col-md-3" style="text-align:right">
						<p class="pull-right back-to-top"><a href="#">Back to top</a></p>
					</div>
				</div>
				
			</footer>
			{%endblock%}
		</div><!-- /.container -->

		{%block javaScripts%}
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type ="text/javascript" src="/js/login.js"> </script>
		<script type ="text/javascript" src="/js/jquery.min.js"></script>
		<script type ="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type ="text/javascript" src="/js/docs.min.js"></script>
		<script src="https://apis.google.com/js/client.js"></script>
		<script>
		  function add_button(photo_key, div_count) {
		    document.getElementById('loading').innerHTML = "<p style='color:white;'>Adding Photo...</p>";
		    var output = $.post( "/options", {actionType : 'carousel_add', photoKey : photo_key} );
	    	output.done(function( data ) {
			    document.getElementById('loading').innerHTML = "<p style='color:white;'>Added Photo</p>";
			    document.getElementById('loading').innerHTML = ""; 
			    if (data.success == 1) {
			    	document.getElementById(div_count).innerHTML = "<a><i class='fa fa-plus' style='color:yellow;'></i></a>";
				}
		  	});
		  }
		  function photo_list_add_button(photo_key, div_count) {
		    document.getElementById('loading').innerHTML = "<p style='color:white;'>Adding Photo...</p>";
		    var output = $.post( "/options", {actionType : 'photo_list_add', photoKey : photo_key} );
	    	output.done(function( data ) {
			    document.getElementById('loading').innerHTML = "<p style='color:white;'>Added Photo</p>";
			    document.getElementById('loading').innerHTML = ""; 
			    if (data.success == 1) {
			    	document.getElementById(div_count).innerHTML = "<a style='color:yellow;'><i class='fa fa-plus' style='color:yellow;'></i></a>";
				}
		  	});
		  }
		  function like_button(photo_key, div_count) {
		    document.getElementById('loading').innerHTML = "<p style='color:white;'>Liking Photo...</p>";
		    var output = $.post( "/options", {actionType : 'carousel_like', photoKey : photo_key} );
		    output.done(function( data ) {
			    document.getElementById('loading').innerHTML = "<p style='color:white;'>Liked Photo</p>";
			    document.getElementById('loading').innerHTML = ""; 
			    if (data.success == 1) {
			    	document.getElementById(div_count).innerHTML = "<a><i class='fa fa-thumbs-o-up' style='color:yellow;'></i></a>";
				}
		  	});
		  }
		  function own_like_button() {
		    document.getElementById('loading').innerHTML = "<p style='color:white;'>Cannot Like your own photo</p>";
		    setTimeout(function() {
		    	document.getElementById('loading').innerHTML = "";
			}, 1000);
		  }
		  function own_add_button() {
		    document.getElementById('loading').innerHTML = "<p style='color:white;'>Cannot Add your own photo</p>";
		    setTimeout(function() {
		    	document.getElementById('loading').innerHTML = "";
			}, 1000);
		  }
		  function photo_list_like_button(photo_key, div_count) {
		    document.getElementById('loading').innerHTML = "<p style='color:white;'>Liking Photo...</p>";
		    var output = $.post( "/options", {actionType : 'photo_list_like', photoKey : photo_key} );
		    output.done(function( data ) {
			    document.getElementById('loading').innerHTML = "<p style='color:white;'>Liked Photo</p>";
			    document.getElementById('loading').innerHTML = ""; 
			    if (data.success == 1) {
			    	document.getElementById(div_count).innerHTML = "<a style='color:yellow;'><i class='fa fa-thumbs-up fa-1x'></i></a>";
				}
		  	});
		  }
		  function photographer_add_button(user_key, me_key, div_count) {
		    document.getElementById('loading').innerHTML = "<p style='color:white;'>Following...</p>";
		    var output = $.post( "/options", {user_key : user_key, self_user_key : me_key,  actionType : 'follow'} );
		    output.done(function( data ) {
			    document.getElementById('loading').innerHTML = "<p style='color:white;'>Liked Photo</p>";
			    document.getElementById('loading').innerHTML = ""; 
			    if (data.success == 1) {
			    	document.getElementById(div_count).innerHTML = "<a style='color:yellow;'><i class='fa fa-plus fa-1x'></i></a>";
				}
		  	});
		  }
		</script>
		<script>
			function mark_read() {
			    var output = $.post( "/options", {actionType : 'mark_read'} );
			    output.done(function( data ) {
				    if (data.success == 1) {
				    	document.getElementById('notification_count').innerHTML = "";
					}
			  	});
			  }
		</script>
		{%if me%}
		<script>
			setInterval(function notification_count() {
			    var output = $.post( "/options", {actionType : 'notification_count'} );
			    output.done(function( data ) {
				    if (data.success == 1) {
				    	document.getElementById('notification_count').innerHTML = data.notification_count;
					}
			  	});
			  }, 30000);
		//setInterval(function(){ 
	    // $( "#notification_count" ).load( "/ #count" );  
		//}, 5000);	
		</script>
		{%endif%}
		<script>
			jQuery(document).ready(function() {
				var offset = 220;
				var duration = 1500;
				jQuery(window).scroll(function() {
					if (jQuery(this).scrollTop() > offset) {
						jQuery('.back-to-top').fadeIn(duration);
					} else {
						jQuery('.back-to-top').fadeOut(duration);
					}
				});
				jQuery('.back-to-top').click(function(event) {
					event.preventDefault();
					jQuery('html, body').animate({scrollTop: 0}, duration);
					return false;
				})
			});
		</script>

		{%endblock%}
	</body>
</html>