<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>
			{%block title%}
			{{title}}
			{%endblock%}
		</title>
		<link rel="icon" href="/images/wpc_app_icon.png">

		{%block styleSheets%}
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<link href="/css/cover1.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/css/carousel.css" rel="stylesheet">
		<link href="/css/font.css" rel="stylesheet">
		 <script src="/js/ckeditor.js"></script>
		{%endblock%}
	</head>
<!-- NAVBAR
================================================== -->
	<body>
		 <nav class="navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/" style="font-family:arial;color:yellow;font-size:30px;">WPC</a>
              </div>
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              	{%block wpcNavLinks%}
                  <ul class="nav navbar-nav">
                      <li><a href="/photos">Photos</a></li>
                      <li><a href="/blogs">Blogs</a></li>
                      <li><a href="/forum">Forum</a></li>
                      <li class="dropdown">
							<!-- Split button -->
							<div class="btn-group" style="margin-top:10px;">
							  <button type="button" class="btn btn-primary" style="color:white;"><em>EXPLORE</em></button>
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <form class="dropdown-menu" style="text-align:left;padding-left:5px; " role="menu" action="/explore">
							    <li><input type="checkbox" value="everything" checked> Everything</li>
							    <li class="divider"></li>
							    <li><input type="checkbox" value="photos"> Photos</li>
							    <li><input type="checkbox" value="photographers"> Photographers</li>
							    <li><input type="checkbox" value="groups"> Groups</li>
							    <li><input type="checkbox" value="blogs"> Blogs</li>
							    <li><input type="checkbox" value="forum"> Forum</li>
							    <li class="divider"></li>
							    <li style="text-align:center;"><button class="btn btn-sm btn-primary" type="submit">EXPLORE</button></li>
							  </form>
							</div>
                      </li>
                      {%block homepage_links%}
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Contact</a></li>
                              <li><a href="#">License and FAQ</a></li>
                              <li class="divider"></li>
                              <li class="disabled"><a href="#">Careers at WPC</a></li>
                          </ul>
                      </li>
                      <li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href="www.twitter.com"><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                      <li><a href="www.dribble.com"><i class="fa fa-pinterest fa-2x"></i></a></li>
                      {%endblock%}
                  </ul>
                  <form class="navbar-form navbar-left" role="search" action="/search" method="get">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search" size="40">
                      </div>
                  </form>
                  {%endblock%}
                  {%block userNavLinks%}
                  <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li>
                                <div class="form_signin_container">
                                    <form class="form-signin" role="form"  onsubmit="return validateLogin()" action="/login" method="post" name="login_form">
                                        <h2 class="form-signin-heading">Please sign in</h2>
                                        <input type="text" name="email" class="form-control" placeholder="Email address" value="{{signupEmail}}" required autofocus>
                                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                                        <label><input type="checkbox" value="remember-me"> Remember Me</label>
                                        <button class="btn btn-lg btn-success btn-block" type="submit">Log In</button>
                                    </form>
                                </div>
                              </li>
                              <li class="divider"></li>
                              <li><a href="#">Forgot Password</a></li>
                          </ul>
                      </li>
                  </ul>
                  {%endblock%}
              </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
{%block signup_links%}  
    <div class="carousel-caption carousel-caption-welcome-text">
        <h1 style="text-align:center;">Aloha !!<br><em>World Photographer's Club</em></h1>
    </div>

    <div class="carousel-caption carousel-caption-welcome-text carousel-signup">
        <div class="signup_buttons">
		<a href="/signin"><button class="btn btn-lg btn-success" type="button"><i class="fa fa-envelope" style="color:white;"></i>  Sign in with Email</button></a>
		<a href="/signin"><button class="btn btn-lg btn-primary" type="button"><i class="fa fa-facebook" style="color:white;"></i>  Sign in with Facebook</button></a>
		<a href="/signin"><button class="btn btn-lg btn-danger" type="button"><i class="fa fa-google-plus" style="color:white;"></i>  Sign in with Google</button></a>
        </div>
    </div>
 {%endblock%}   
		<!-- Carousel
		================================================== -->
		{%block carousel%}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/images/Artists_2.jpg" alt="First slide"/>
          <div class="container">
            <div class="carousel-caption">
				<div class="navbar-wrapper">
					<div class="container">
						<div class="navbar navbar-transparent navbar-static-top padding-top" role="navigation">
							<div class="container">
								<div class="navbar-header">
									<a class="navbar-brand" href="#" style="color:white"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="20px"> Anurag Mathur</a>
								</div>
								<div class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
										<li><a href="#"></i><i class="fa fa-thumbs-o-up" style="color:white;"></i></a></li>
										<li><a href="#"></i><i class="fa fa-plus" style="color:white;"></i></a></li>
										<li><a href="#"></i><i class="fa fa-share" style="color:white;"></i></a></li>
										<li><a href="#"></i><span class="glyphicon glyphicon-pushpin" style="color:white"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/DSC_1582.jpg" alt="Second slide"/>
          <div class="container">
            <div class="carousel-caption">
				<div class="navbar-wrapper">
				  <div class="container">
					<div class="navbar navbar-transparent navbar-static-top padding-top" role="navigation">
					  <div class="container">
						<div class="navbar-header">
						  <a class="navbar-brand" href="#" style="color:white"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="20px"> Kalika Mathur</a>
						</div>
						<div class="navbar-collapse collapse">
						  <ul class="nav navbar-nav">
							<li><a href="#"></i><i class="fa fa-thumbs-o-up" style="color:white;"></i></a></li>
							<li><a href="#"></i><i class="fa fa-plus" style="color:white;"></i></a></li>
							<li><a href="#"></i><i class="fa fa-share" style="color:white;"></i></a></li>
							<li><a href="#"></i><span class="glyphicon glyphicon-pushpin" style="color:white"></span></a></li>
						  </ul>
						</div>
					  </div>
					</div>
				  </div>
				</div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/images/DSC_1737.jpg" alt= "Third slide"/>
          <div class="container">
            <div class="carousel-caption">
				<div class="navbar-wrapper">
				  <div class="container">
					<div class="navbar navbar-transparent padding-top" role="navigation">
					  <div class="container">
						<div class="navbar-header">
						  <a class="navbar-brand" href="#" style="color:white"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="20px"> Dayal Mathur</a>
						</div>
						<div class="navbar-collapse collapse">
						  <ul class="nav navbar-nav">
							<li><a href="#"></i><i class="fa fa-thumbs-o-up" style="color:white;"></i></a></li>
							<li><a href="#"></i><i class="fa fa-plus" style="color:white;"></i></a></li>
							<li><a href="#"></i><i class="fa fa-share" style="color:white;"></i></a></li>
							<li><a href="#"></i><span class="glyphicon glyphicon-pushpin" style="color:white"></span></a></li>
						  </ul>
						</div>
					  </div>
					</div>
				  </div>
				</div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
		{%endblock%}
		<!-- /.carousel -->

		{%block pageContent%}
    		<!-- Marketing messaging and featurettes
		================================================== -->
		<!-- Wrap the rest of the page in another container to center all the content. -->
			<!-- Three columns of text below the carousel -->
			{%if not me%}
			<div class="row col-md-8 col-md-offset-2" style="text-align:center;">
				<div class="col-lg-4">
					<img class="img-circle" src="/js/holder.js/140x140/sky/text:Get Inspired" alt="Generic placeholder image">
					<h2>Get Inspired</h2>
					<p>Browse thousands of photographs and connect with inspiring photographers.</p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="img-circle" data-src="/js/holder.js/140x140/sky/text:Find" alt="Generic placeholder image">
					<h2>Find Photographers</h2>
					<p>Find photographers with similar interests, passions and help each other.</p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="img-circle" data-src="/js/holder.js/140x140/sky/text:Explore" alt="Generic placeholder image">
					<h2>Explore the world of photography</h2>
					<p>With a simple tap of a button (EXPLORE) browse random pages of photographs, photographers profile, blogs, groups and forum questions</p>
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->
			<div class="col-md-12">
				<hr>
			</div>
			{%endif%}
			<div class="row">
				
			</div>
			<h1 style="text-align:center;">Latest Articles</h1>
			<div class="col-md-12">
				<hr>
			</div>

			<div class="col-md-10">
				<div class="col-md-10">
					<div class="col-md-8">
						<h2>Music and Photography</h2>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<a class="navbar-brand" href="#" style="color:blue"><img src="/images/image-2.jpg" alt="Profile Image" class="profile-img" width="20px"> Anurag Mathur</a>
					</div>
					<img src="/images/Artists_2.jpg" alt="First slide" width="100%"/>
					<div style="margin-top:2px;">
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
					</div>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				
				<div class="col-md-10">
					<div class="col-sm-8">
					<h2>Music and Photography</h2>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
					<a class="navbar-brand" href="#" style="color:blue"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="20px"> Anurag Mathur</a>
					</div>
					<img src="/images/Artist_1.jpg" alt="First slide" width="100%"/>
					<div style="margin-top:2px;">
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
					</div>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				
				<div class="col-md-10">
					<div class="col-sm-8">
					<h2>Music and Photography</h2>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
					<a class="navbar-brand" href="#" style="color:blue"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="20px"> Anurag Mathur</a>
					</div>
					<img src="/images/faith_disrupted.jpg" alt="First slide" width="100%"/>
					<div style="margin-top:2px;">
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
					</div>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
				
				<div class="col-md-10">
					<div class="col-sm-8">
					<h2>Music and Photography</h2>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
					<a class="navbar-brand" href="#" style="color:blue"><img src="/images/image-2.jpg" alt="Profile Image" class="img-circle" width="20px"> Anurag Mathur</a>
					</div>
					<img src="/images/Reflections.jpg" alt="First slide" width="100%"/>
					<div style="margin-top:2px;">
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-plus-sign" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options"><span class="glyphicon glyphicon-pushpin" style="color:white;"></span></button>
					</div>
					<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
				</div>
			</div>
			<div class="col-md-2">
				<p>Ads</p>
				<img src="/images/img_2.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_2.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_2.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<hr>

				<p>Trending Photographers</p>
				<img src="/images/img_2.jpg" class="profile-img" width="100px">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_2.jpg" class="profile-img" width="100px">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_2.jpg" class="profile-img" width="100px">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<p>Top Photos</p>
				<img src="/images/img_1.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_1.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_1.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<p>Trending Blogs</p>
				<img src="/images/img_3.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_3.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>

				<img src="/images/img_3.jpg" class="img-responsive">
				<p><a href="my_studio.html" style="color:black;"></a></p>
			</div>
			{%endblock%}
			{%block footer%}
			<!-- FOOTER -->
			<footer>
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center">
						<ul class="list-inline">
							<li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-3x"></i></a>
							</li>
							<li><a href="www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-3x"></i></a>
							</li>
							<li><a href="www.dribble.com"><i class="fa fa-pinterest fa-3x"></i></a>
							</li>
						</ul>
					</div>
				</div>

			{%block backtotop%}
				<p class="pull-right back-to-top"><a href="#">Back to top</a></p>
			{%endblock%}
				<p>&copy; 2014 World Photographer's Club &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms </a>&middot; <a href="#"> Contact Us</a></p>
				
			</footer>
			{%endblock%}
		</div><!-- /.container -->

		{%block javaScripts%}
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type ="text/javascript" src="/js/login.js"> </script>
		<script type ="text/javascript" src="/js/jquery.min.js"></script>
		<script type ="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type ="text/javascript" src="/js/docs.min.js"></script>

		<script>
			jQuery(document).ready(function() {
				var offset = 220;
				var duration = 1500;
				jQuery(window).scroll(function() {
					if (jQuery(this).scrollTop() > offset) {
						jQuery('.back-to-top').fadeIn(duration);
					} else {
						jQuery('.back-to-top').fadeOut(duration);
					}
				});
				jQuery('.back-to-top').click(function(event) {
					event.preventDefault();
					jQuery('html, body').animate({scrollTop: 0}, duration);
					return false;
				})
			});
		</script>
		{%endblock%}
	</body>
</html>