{%extends "user_studio.html"%}

{%block signup_links%}  
 {%endblock%} 
{%block pageContent%}
 
    <div class="transbox_right_permapage">
			<br>
            <ul class="list-inline">
                {%if user.watermark%}
                        {%if user.website%}
                            <a href="{{user.website}}"><img src="{{user.watermark_url}}" title="{{user.name}}'s personal website" alt="Profile Image" width="60px"><br></a>
                        {%else%}
                            <a href=""><img src="{{user.watermark_url}}" title="{{user.name}}'s personal website" alt="Profile Image" width="60px"><br></a>
                        {%endif%}
                        <br><br>  
                {%else%}
                        {%if user.website%}
                            <a href="{{user.website}}"><h4>{{user.name}} Website</h4></a>
                        {%else%}
                            <a href=""><h4>{{user.name}} Website</h4></a>
                        {%endif%}
                        <br><br>
                {%endif%}
                {%if user.facebook%}
                  <li color="white"><a href="{{me.facebook}}"><i class="fa fa-facebook fa-3x" style="color:black;"></i></a></li><br><br>
                {% endif %}
                {%if user.twitter%}
                  <li color="white"><a href="{{me.twitter}}"><i class="fa fa-twitter fa-3x" style="color:black;"></i></a></li><br><br>
                {% endif %}
                {%if user.tumblr%}
                  <li color="white"><a href="{{user.tumblr}}"><i class="fa fa-tumblr fa-3x" style="color:black;"></i></a></li><br><br>
                {% endif %}
                {%if user.pinterest%}
                  <li color="white"><a href="{{me.pinterest}}"><i class="fa fa-pinterest fa-3x" style="color:black;"></i></a></li><br><br>
                {% endif %}
                {%if user.google_plus%}
                  <li color="white"><a href="{{me.google_plus}}"><i class="fa fa-google-plus fa-3x" style="color:black;"></i></a></li>
                {% endif %}
            </ul>
    </div>
	<div class="photopermpage col-md-8 col-md-offset-2">
		<img src="{{get_serving_url(photo.blobKey)}}" width="100%" alt="photo">
		<a href="/{{user.key.id()}}"><h5 style="color:green;"><img src="{{user.avatar_url}}" alt="Profile Image" class="img-circle" width="45px"> <em>{{user.name}}<em></h5></a>
	</div>
  
	<div class="row edit_delete_bottons text-center">
    <div class="col-md-4 col-md-offset-4">
		{%if me == user%}
		<div class="col-md-2 col-md-offset-2">
          <form method="post">
            <input type="hidden" name="actionType" value="edit">
            <input type="hidden" name="photoKey" value="{{photo.key.urlsafe()}}">
            <button class="btn btn-success btn-md" type="submit"><i class="fa fa-edit fa-2x"></i></button>
          </form>
	    </div>
	    <div class="col-md-2">
          <form method="post">
            <input type="hidden" name="actionType" value="delete">
            <input type="hidden" name="photoKey" value="{{photo.key.urlsafe()}}">
            <button class="btn btn-success btn-md" type="submit"><i class="fa fa-trash-o fa-2x"></i></button>
          </form>
	    </div>
		<div class="col-md-2">
          <button class="btn btn-success" data-toggle="modal" data-target=".share_modal"><i class="fa fa-share fa-2x"></i></button>
      </div>
	  <div class="col-md-2">
        <form method="post">
          <input type="hidden" name="actionType" value="download">
          <button class="btn btn-success" type="submit"><i class="fa fa-download fa-2x"></i></button>
        </form>
      </div>
		  {%else%}
		<div class="col-md-2 col-md-offset-2">
          <form method="post">
            <input type="hidden" name="actionType" value="like">
            <button class="btn btn-info btn-md" type="submit" value="Delete"><i class="fa fa-thumbs-up fa-2x"></i></button>
          </form>
	    </div>
		<div class="col-md-2">
          <button class="btn btn-success" data-toggle="modal" data-target=".share_modal"><i class="fa fa-share fa-2x"></i></button>
      </div>
	  <div class="col-md-2">
        <form method="post">
          <input type="hidden" name="actionType" value="add">
          <button class="btn btn-success" type="submit" value="plus"><i class="fa fa-plus fa-2x"></i></button>
        </form>
      </div>
	  <div class="col-md-2">
          <button class="btn btn-success" data-toggle="modal" data-target=".photography_awards"><i class="fa fa-trophy fa-2x"></i></button>
      </div>
		 {% endif %}
    </div>

	</div>

  <hr>
	<div class="thumb_imgs">
	    {%for p in photos%}
	         <a href="/photo/{{p.key.urlsafe()}}"><img src="{{get_serving_url(p.blobKey)}}" height="100px" alt="photo"></a>
	    {%endfor%}
	</div>
	<hr>
	<h3 style="color:black;">{{photo.caption}}</h3>
  <h4 style="color:black;">{{photo.description}}</h4>
	<script src="/js/holder.js"></script>
	<div class="container marketing">
	    <div class="row">
	        <div class="col-md-2 col-xs-6 col-md-offset-1 btn_padding_right">
	              <h1 style="font-size:55px;">{{photo.likes}}</h1><i class="fa fa-thumbs-o-up fa-2x"></i><h4 style="color:blue;">likes</h4>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-md-2 col-xs-6 btn_padding_right">
	            <h1 style="font-size:55px;">10</h1><i class="fa fa-pencil fa-2x"></i><h4 style="color:blue;">comments</h4>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-md-2 col-xs-6 btn_padding_right">
	            <h1 style="font-size:55px;">{{len(photo.awards)}}</h1><i class="fa fa-trophy fa-2x"></i><h4 style="color:blue;">awards</h4>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-md-2 col-xs-6 btn_padding_right">
	            <h1 style="font-size:55px;">{{photo.viewed}}</h1><i class="fa fa-eye fa-2x"></i><h4 style="color:blue;">views</h4>
	        </div><!-- /.col-lg-4 -->
	        <div class="col-md-2 col-xs-6">
	            <h1 style="font-size:55px;">4.5</h1><i class="fa fa-star fa-2x"></i><h4 style="color:blue;">rating</h4>
	        </div><!-- /.col-lg-4 -->
	    </div><!-- /.row -->
	</div>
	<hr>
    

		<div class="col-md-6 col-sm-6 permapage_container_inner">
			<form method="post">
    		<input type="hidden" name="actionType" value="add_comment">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Comments on this Photo</h4></div><hr>
				<div class="panel-body">
					<div class="clearfix"></div>
						{%for comment in photo.comments%}
						<p>{{comment}}</p>
						<hr>
						{%endfor%}
					<hr>
				  <div class="input-group">
					<div  class="photo_albums"></div>
					<input type="hidden" id="userid" name="user_key" value="{{user.key}}">
					<input type="text" class="form-control" name="comment" id="comment" placeholder="Add a comment">
					<div class="input-group-btn">
					  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
					</div><!-- /btn-group -->
				  </div><!-- /input-group -->
				</div>
			</div> 
			</form>
		</div>
		
		<form method="post">
		<input type="hidden" name="actionType" value="add_tag_album">
		<div class="col-md-5 col-sm-6 permapage_container_inner">
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Awards</h4></div><hr>
				<div class="panel-body"  style="margin:0px;">
					{% set Simply_Awesome_num = 0 %}
					{% set Jaw_Dropping_num = 0 %}
					{% set World_Class_num = 0 %}
					{% set Beautiful_Composition_num = 0 %}
					{% set Piece_of_Art_num = 0 %}
					{% set Truly_Inspirational_num = 0 %}

					{%for a in photo.awards%}
		                    {%if a == 'Simply_Awesome'%}
		                    	{% set Simply_Awesome_num =  Simply_Awesome_num + 1%}
		                    {%elif a == 'Jaw_Dropping'%}
		                    	{% set Jaw_Dropping_num =  Jaw_Dropping_num + 1%}
		                    {%elif a == 'World_Class'%}
		                    	{% set World_Class_num =  World_Class_num + 1%}
		                    {%elif a == 'Beautiful_Composition'%}
		                    	{% set Beautiful_Composition_num =  Beautiful_Composition_num + 1%}
		                    {%elif a == 'Piece_of_Art'%}
		                    	{% set Piece_of_Art_num =  Piece_of_Art_num + 1%}
		                    {%elif a == 'Truly_Inspirational'%}
		                    	{% set Truly_Inspirational_num =  Truly_Inspirational_num + 1%}
		                    {%endif%}
		                 {%if loop.last%}
		                 		{%if Simply_Awesome_num > 0%}
					             <div class="col-md-3 text-center" style="margin:0px;">
				                    	<div><i  style="color:gold;" class="fa fa-trophy fa-2x"><span class="badge pull-right">{{Simply_Awesome_num}}</span></i>
				                    	<h5>Simply Awesome</h5></div>
				                 </div>
				                 {%endif%}
				                 {%if Jaw_Dropping_num > 0%}
				                 <div class="col-md-3 text-center" style="margin:0px;">
				                    	<div><i  style="color:gold;" class="fa fa-trophy fa-2x"><span class="badge pull-right">{{Jaw_Dropping_num}}</span></i>
				                    	<h5>Jaw Dropping</h5></div>
				                 </div>
				                 {%endif%}
				                 {%if World_Class_num > 0%}
				                 <div class="col-md-3 text-center" style="margin:0px;">
				                    	<div><i  style="color:gold;" class="fa fa-trophy fa-2x"><span class="badge pull-right">{{World_Class_num}}</span></i>
				                    	<h5>World Class</h5></div>
				                 </div>
				                 {%endif%}
				                 {%if Beautiful_Composition_num > 0%}
				                 <div class="col-md-3 text-center" style="margin:0px;">
				                    	<div><i  style="color:gold;" class="fa fa-trophy fa-2x"><span class="badge pull-right">{{Beautiful_Composition_num}}</span></i>
				                    	<h5>Beautiful Composition</h5></div>
				                 </div>
				                 {%endif%}
				                 {%if Piece_of_Art_num > 0%}
				                 <div class="col-md-3 text-center" style="margin:0px;">
				                    	<div><i  style="color:gold;" class="fa fa-trophy fa-2x"><span class="badge pull-right">{{Piece_of_Art_num}}</span></i>
				                    	<h5>Piece of Art</h5></div>
				                 </div>
				                 {%endif%}
				                 {%if Truly_Inspirational_num > 0%}
				                 <div class="col-md-3 text-center" style="margin:0px;">
				                    	<div><i  style="color:gold;" class="fa fa-trophy fa-2x"><span class="badge pull-right">{{Truly_Inspirational_num}}</span></i>
				                    	<h5>Truly Inspirational</h5></div>
				                 </div>
				                 {%endif%}
		                {%endif%}
		            {%endfor%}
				</div>

			</div> 
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Associated Tags</h4></div>
				<div class="panel-body">
					{%for tag in photo.tags%}
						<button class="btn btn-warning btn-xs btn_padding">{{tag}}</button>
					{%endfor%}
					<div class="tag_placement">
			  		</div>
					<hr>
			  		<div class="input-group">
			  			{%if me == user%}
							<div class="photo_tags"></div>
							<input type="text" class="form-control" name="add_tag" id="add_tag" placeholder="Add a Tag">
							<div class="input-group-btn">
				  				<button type="button" class="btn btn-success" onclick="add_tags()"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
							</div><!-- /btn-group -->
						{%endif%}
			  		</div><!-- /input-group -->
				
					<div class="panel-heading"><h4>Associated Albums</h4></div>
						{%for album in photo.albums%}
							<button class="btn btn-danger btn-xs btn_padding">{{album}}</button>
						{%endfor%}
						<div class="album_placement">
			  		</div>
								  
					<div class="row"><hr></div>
			  			<div class="input-group">
			  				{%if me == user%}
								<div class="photo_albums"></div>
								<input type="text" class="form-control" name="add_album" id="add_album" placeholder="Add Photo to an Album">
								<div class="input-group-btn">
				  					<button type="button" class="btn btn-success" onclick="add_albums()"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
								</div><!-- /btn-group -->
							{%endif%}
			  			</div><!-- /input-group -->
				</div>
				{%if me == user%}
					<button class="btn btn-xs btn-success" style="margin-bottom:5px;" type="submit">Save Tags & Albums</button>
				{%endif%}
			</div> 
			<div class="panel panel-default">
				<div class="panel-heading"><h4>Camera Details</h4></div><hr>
				<div class="panel-body">
					{%if photo.camera and photo.camera != None%}
						<img src="/fonts/Cam`eras/{{photo.camera}}.png" alt="camera" width="80px"><h4 style="color:black;">{{photo.camera}}<h4>
						<hr>
					{%endif%}
					{% if photo.lense and photo.lense != None %}
						<img src="/fonts/Lenses/{{photo.lense}}.png" alt="camera" width="80px"><h4 style="color:black;">{{photo.lense}}<h4>
						<hr>
					{%endif%}
					{%if photo.shutter_speed or photo.aperture or photo.iso%}
						<h4>Shutter Speed : {{photo.shutter_speed}}</h4>
						<h4>Aperture : {{photo.aperture}}</h4>
						<h4>ISO : {{photo.iso}}</h4>
						<hr>
					{%endif%}
				</div>
				{%if photo.location%}
				<div class="panel-heading"><h4>Photo on a Map</h4></div>
				<iframe
					  width="100%"
					  height="300"
					  frameborder="0" style="border:0"
					  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyA98__FHcA4bnhiXVRNPHswC6VNnVfiKnc&q={{photo.location}}">
				</iframe>
				{%endif%}
			</div> 
		</div>

		</form>
	</div>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script type="text/javascript">
(function(d){
    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
    p.type = 'text/javascript';
    p.async = true;
    p.src = '//assets.pinterest.com/js/pinit.js';
    f.parentNode.insertBefore(p, f);
}(document));
</script>
    <div class="modal fade share_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Share Photo</h4>
          </div>
          <form role="form" method="post">
            <input type="hidden" name="formType" value="share_links">
            <br>
                <h4>Link to Photo</h4>
                <a href="{{get_serving_url(photo.blobKey)}}"><h4 style="color:blue;"><em>{{get_serving_url(photo.blobKey)}}</em></h4></a><br>
                <p>or</p>
              <ul class="list-inline">
                <li><a class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-width="100"></a></li>
                <li><a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a></li>
                <li><div class="g-plus" data-action="share" data-height="30"></div></li>
                 <li><a href="http://www.pinterest.com/pin/create/button/
                    ?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F
                    &media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg
                    &description=Next%20stop%3A%20Pinterest"
                    data-pin-do="buttonPin"
                    data-pin-config="above">
                    <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
                </a></li>
              </ul>
          </form>
        </div>
      </div>
    </div>

     <div class="modal fade photography_awards" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Give Photography Awards</h4>
          </div>
          <form role="form" method="post">
            <input type="hidden" name="actionType" value="photography_awards">
            <input type="hidden" id="userid" name="user" value="{{user.key.id()}}">
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-item change_color">
                    <div onclick="change_color_n_add_input_awards(this, 'Simply_Awesome')"><i class="service-icon fa fa-trophy"></i>
                    <h4>Simply Awesome!!!</h4></div>
                    <div id="Simply_Awesome"></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-item change_color" >
                    <div onclick="change_color_n_add_input_awards(this, 'Jaw_Dropping')"><i class="service-icon fa fa-trophy"></i>
                    <h4>Jaw Dropping!!!</h4></div>
                    <div id="Jaw_Dropping"></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-item change_color">
                    <div onclick="change_color_n_add_input_awards(this, 'World_Class')"><i class="service-icon fa fa-trophy"></i>
                    <h4>World Class</h4></div>
                    <div id="World_Class"></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-item change_color">
                    <div onclick="change_color_n_add_input_awards(this, 'Beautiful_Composition')"><i class="service-icon fa fa-trophy"></i>
                    <h4>Beautiful Composition</h4></div>
                    <div id="Beautiful_Composition"></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-item change_color">
                    <div onclick="change_color_n_add_input_awards(this, 'Piece_of_Art')"><i class="service-icon fa fa-trophy"></i>
                    <h4>Piece of Art</h4></div>
                    <div id="Piece_of_Art"></div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 text-center">
                <div class="service-item change_color">
                    <div onclick="change_color_n_add_input_awards(this, 'Truly_Inspirational')"><i class="service-icon fa fa-trophy"></i>
                    <h4>Truly Inspirational</h4></div>
                    <div id="Truly_Inspirational"></div>
                </div>
            </div>
          <div class="modal-footer">
          </div>
          <div class="photography_awards_inputs">
          </div>
          <button class="btn btn-xs btn-success padding-bottom" type="submit">Give Awards</button>
        </form>
        </div>
      </div>
    </div>

	<footer>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<ul class="list-inline">
				<li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-3x"></i></a>
				</li>
				<li><a href="www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
				</li>
				<li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-3x"></i></a>
				</li>
				<li><a href="www.dribble.com"><i class="fa fa-pinterest fa-3x"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<p class="pull-right back-to-top"><a href="#">Back to top</a></p>
	<p>&copy; 2014 World Photographer's Club &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms </a>&middot; <a href="#"> Contact Us</a></p>
	</footer>
	<script>
	function add_tags() {
		tag = document.getElementById('add_tag').value;
		$( ".tag_placement" ).append( "<button class='btn btn-warning btn-xs btn_padding padding_tags'>"+tag+"</button>" );
		$( ".photo_tags" ).append( "<input type='hidden' name='tags' value='"+tag+"'>" );
	}
	</script>
	<script>
	function add_albums() {
		album = document.getElementById('add_album').value;
		$( ".album_placement" ).append( "<button class='btn btn-danger btn-xs btn_padding padding_tags'>"+album+"</button>" );
		$( ".photo_albums" ).append( "<input type='hidden' name='albums' value='"+album+"'>" );
	}
	</script>
{%endblock%}