{%extends "index.html"%}

{%block styleSheets%}
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/signin.css" rel="stylesheet">
{%endblock%}

{%block carousel%}
{%endblock%}

{%block signup_links%}  
{%endblock%}

{%block userNavLinks%}
{%endblock%}

{%block backtotop%}
{%endblock%}

{%block pageContent%}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '574055306062401',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script src="https://apis.google.com/js/client:platform.js" async defer></script>
<script>
function signinCallback(authResult) {
  if (authResult['status']['signed_in']) {
    // Update the app to reflect a signed in user
    // Hide the sign-in button now that the user is authorized, for example:
    document.getElementById('signinButton').setAttribute('style', 'display: none');
  } else {
    // Update the app to reflect a signed out user
    // Possible error values:
    //   "user_signed_out" - User is signed-out
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    console.log('Sign-in state: ' + authResult['error']);
  }
}
</script>
<div class="row text-center form-signup" >
	<form class="col-md-4 col-md-offset-1" role="form" action="/signup" onsubmit="return validateSignupForm()" method="post" name="signup_form">
		<h2 class="form-signin-heading">Sign up for free!</h2>
		<input type="text" name="name" class="form-control" placeholder="Full Name" value="{{name}}" size="50" maxlength="35"><br>
		<input type="text" name="wpc_name" class="form-control" placeholder="WPC Name" value="{{wpc_name}}" size="50"><br>
		<input type="text" name="email" class="form-control" placeholder="Email Address" value="{{signinEmail}}" size="50"><br>
		<input type="password" name="password" class="form-control" placeholder="Password" size="50" required>
		<input type="password" name="verifyPassword" class="form-control" placeholder="Re-enter Password" size="50" required>
		<label><input type="checkbox" name="remember"> Remember Me</label>
		<div class="error" style="color:red;">{{signupError}}</div>
		<button class="btn btn-lg btn-success btn-block" type="submit">Sign Up</button>
	</form>
	<div class="col-md-1 col-md-offset-1 ">
	 <div class="vertical-line">&nbsp;</div>
	</div>
	<form class="col-md-4 col-md-offset-2" role="form" action="/login" method="post" name="login_form">
		<h2 class="form-signin-heading">Already have an account?</h2>
		<input type="text" name="wpc_name" class="form-control" placeholder="WPC User Name" value="{{signupEmail}}" required autofocus><br>
		<input type="password" name="password" class="form-control" placeholder="Password" required>
		<label><input type="checkbox" name="remember"> Remember Me</label>
		<div class="error" style="color:red;">{{signupError}}</div>
		<button class="btn btn-lg btn-success btn-block" type="submit">Sign In</button>
	</form>		
</div>
	<div class="col-md-4 col-md-offset-4">
		<p> or </p>
		<div class="fb-login-button col-md-6" data-size="xlarge" data-show-faces="true" data-auto-logout-link="false"></div>
		<div class="col-md-6"><span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="CLIENT_ID"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schema.org/AddAction"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</span></div>
	</div>	

<div id="status">
</div>
{%endblock%}