{%if me%}
    {%extends "index_user.html"%}
{%else%}
    {%extends "index.html"%}
{%endif%}

{%set user = me%}

{%block title%}
{{user.name}} | WPC
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
{%endblock%}

{%block carousel%}
{%endblock%}

{%block pageContent%}
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12" style="margin:50px 0px;">
            <img src="{{user.avatar_url}}" alt="Profile Image" width="100%">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <br>
            <div class="col-md-4" style="margin:0px;">
                <div>
                    <h2><a class="" href="/{{user.key.id()}}" style="color:black;" ><em>{{user.name}}</em></a></h2>
                    {%if user.phone_num%}
                        <p>{{user.phone_num}}</p>
                    {%endif%}
                </div>
                <a href="/{{user.key.id()}}/editabout">Edit</a>
                <a href="#map_canvas"><img src="/fonts/Flags/{{user.country}}.png" alt="country" width="40px"></a><br>
            </div>
            <div class="col-md-4 col-md-offset-4">
                {%if user.wpc_score<=5000%}
                <a href=""><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i></a>
                <h2 style="margin-top:0px"><em>{{user.wpc_score}}</em></h2>
                    <button type="submit" class="btn btn-danger">Beginner Photographer</button><br>
                {%elif user.wpc_score>5000 or user.wpc_score<=10000%}
                <a href=""><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i></a>
                <h2 style="margin-top:0px"><em>{{user.wpc_score}}</em></h2>
                    <button type="submit" class="btn btn-danger">Amateur Photographer</button><br>
                {%elif user.wpc_score>10000 or user.wpc_score<=20000%}
                <a href=""><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i></a>
                <h2 style="margin-top:0px"><em>{{user.wpc_score}}</em></h2>
                    <button type="submit" class="btn btn-danger">Semi-Pro Photographer</button><br>
                {%elif user.wpc_score>20000 or user.wpc_score<=25000%}
                <a href=""><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gray;"></i></a>
                <h2 style="margin-top:0px"><em>{{user.wpc_score}}</em></h2>
                    <button type="submit" class="btn btn-danger">Professional Photographer</button><br>
                {%elif user.wpc_score>25000%}
                <a href=""><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i></a>
                <h2 style="margin-top:0px"><em>{{user.wpc_score}}</em></h2>
                    <button type="submit" class="btn btn-danger">Master Photographer</button><br>
                {% endif %}
            </div>
            <div class="row">
                <hr> 
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin:0px;">
                <div class="col-md-2 col-sm-2 col-xs-4" style="margin:0px;">
                    <h1 style="color:black;margin:0px;">0</h1>
                    <h4 style="color:blue"><em>views</em></h4>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4" style="margin:0px;">
                    <h1 style="color:black;margin:0px;">{{len(user.followers)}}</h1>
                    <h4 style="color:blue;"><em>followers</em></h4>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4" style="margin:0px;">
                    <h1 style="color:black;margin:0px;">{{len(user.following)}}</h1>
                    <h4 style="color:blue;"><em>following</em></h4>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4" style="margin:0px;"> 
                    <h1 style="color:black;margin:0px;">{{len(user.awards)}}</h1>
                    <h4 style="color:blue;"><em>awards</em></h4>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4" style="margin:0px;">
                    <h1 style="color:black;margin:0px;">{{len(user.shares)}}</h1>
                    <h4 style="color:blue;"><em>shares</em></h4>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4" style="margin:0px;">
                    <h1 style="color:black;margin:0px;">{{photos.count()}}</h1>
                    <h4 style="color:blue;"><em>photos</em></h4>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <h2 style="margin-top:0px">Status</h2>
                <h4 style="color:green;font-family:arial;"><em>{{user.status}}</em></h4>
                <div class="col-md-4" style="margin-top:0px">
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="col-md-12" style="margin-top:0px">
                <h2 style="margin-top:0px">My Gear</h2>
                <div class="col-md-12 lenses_center" style="margin-top:0px">
                    <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-4" style="margin-top:0px">
                        <p style="color:grey">Primary</p>
                        <img src="/fonts/Cameras/Nikon D80.png" alt="camera" width="60px"><h6 style="color:black;">Nikon D80</h6>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" style="margin-top:0px">
                        <p style="color:grey">Secondary</p>
                        <img src="/fonts/Cameras/COOLPIX S620.png" alt="camera" width="60px"><h6 style="color:black;">Nikon D3000</h6>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" style="margin-top:0px">
                        <p style="color:grey">Lense 1</p>
                        <img src="/fonts/Lenses/Nikkor 18-55mm.png" alt="camera" width="60px"><h6 style="color:black;">Nikkor 18-55mm</h6>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" style="margin-top:0px">
                        <p style="color:grey">Lense 2</p>
                        <img src="/fonts/Lenses/AF-S-VR-Zoom-NIKKOR-55-200mm-f-4-5.6G.png" alt="camera" width="60px"><h6 style="color:black;">Nikkor 55-200mm</h6>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4" style="margin-top:0px">
                        <p style="color:grey">Lense 3</p>
                        <img src="/fonts/Lenses/af-nikkor-50mm-f-1-80_front.png" alt="camera" width="60px"><h6 style="color:black;">Nikkor 50mm 1.8d</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="col-md-12"  style="margin-top:0px">
                <h2 style="margin-top:0px">Social Profiles</h2>
                <ul class="list-inline">
                    <div class="col-md-2 col-sm-2 col-xs-4">
                    {%if user.watermark%}
                        {%if user.website%}
                            <a href="{{user.website}}"><img src="{{user.watermark_url}}" title="{{user.name}}'s personal website" alt="Profile Image" width="60px"><br></a>
                        {%else%}
                            <a href=""><img src="{{user.watermark_url}}" title="{{user.name}}'s personal website" alt="Profile Image" width="60px"><br></a>
                        {%endif%}  
                    {%else%}
                        {%if user.website%}
                            <a href="{{user.website}}"><h4>{{user.name}} Website</h4></a>
                        {%else%}
                            <a href=""><h4>{{user.name}} Website</h4></a>
                        {%endif%}
                    {%endif%}
                    </div>
                    {%if user.facebook%}
                        <div class="col-md-2 col-sm-2 col-xs-4"><li color="white"><a href="{{user.facebook}}"><i class="fa fa-facebook fa-3x" style="color:black;"></i></a></li></div>
                    {% endif %}
                    {%if user.twitter%}
                        <div class="col-md-2 col-sm-2 col-xs-4"><li color="white"><a href="{{user.twitter}}"><i class="fa fa-twitter fa-3x" style="color:black;"></i></a></li></div>
                    {% endif %}
                    {%if user.pinterest%}
                        <div class="col-md-2 col-sm-2 col-xs-4"><li color="white"><a href="{{user.pinterest}}"><i class="fa fa-pinterest fa-3x" style="color:black;"></i></a></li></div>
                    {% endif %}
                    {%if user.google_plus%}
                        <div class="col-md-2 col-sm-2 col-xs-4"><li color="white"><a href="{{user.google_plus}}"><i class="fa fa-google-plus fa-3x" style="color:black;"></i></a></li></div>
                    {% endif %}
                    {%if user.tumblr%}
                        <div class="col-md-2 col-sm-2 col-xs-4"><li color="white"><a href="{{user.tumblr}}"><i class="fa fa-tumblr fa-3x" style="color:black;"></i></a></li></div>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
    </div>
    <div class="row col-md-12" style="margin:0px">
        <h2 style="margin-top:0px">Contact Info</h2>
        <iframe
          width="100%"
          height="300"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/search?key=AIzaSyA98__FHcA4bnhiXVRNPHswC6VNnVfiKnc&q={{user.city}}+{{user.country}}">
        </iframe>
    </div>
    {%block footer%}
    {%endblock%}
      <!-- FOOTER -->
      <div class="footer" style="padding-bottom:0;">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><a href="https://www.facebook.com/pages/Anurag-Mathurs-Photography/215979155096125?ref=hl&ref_type=bookmark"><i class="fa fa-facebook fa-3x"></i></a>
              </li>
              <li><a href="www.twitter.com"><i class="fa fa-twitter fa-3x"></i></a>
              </li>
              <li><a href="www.dribble.com"><i class="fa fa-google-plus-square fa-3x"></i></a>
              </li>
              <li><a href="www.dribble.com"><i class="fa fa-pinterest fa-3x"></i></a>
              </li>
            </ul>
          </div>
        </div>
      {%block backtotop%}
        <p class="pull-right back-to-top"><a href="#">Back to top</a></p>
        <p style="padding-left:500px;">&copy;2014 World Photographer's Club &middot; <a href="#">Privacy</a> &middot; <a href="#"> Terms </a>&middot; <a href="#"> Contact Us</a></p>
      {%endblock%}  
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
{%endblock%}