{%if me%}
    {%extends "index_user.html"%}
{%else%}
    {%extends "index.html"%}
{%endif%}

{%block title%}
Home | WPC
{%endblock%}
		{%block styleSheets%}
		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/css/carousel.css" rel="stylesheet">
		<link href="/css/font.css" rel="stylesheet">
		 <script src="/js/ckeditor.js"></script>
		{%endblock%}
{%block homepage_links%}
{%endblock%}
{%block carousel%}
{%endblock%}
{%block signup_links%}  
{%endblock%}
{%block pageContent%}
<br><br>
     <div class="col-md-2 padding-top" style="text-align:center;">
 		<a class="navbar-brand" href="/{{me.key.id()}}"><img src="{{me.avatar_url}}" alt="Profile Image" class="img-circle" width="35px"> {{me.name}}<br>
            {%if me.phone_num%}
                <p>{{me.phone_num}}</p>
            {%endif%}
        <img src="/fonts/Flags/{{me.country}}.png" alt="country" width="40px"></a>
    </div>	
 	<div class="row col-md-8 padding-top">
      		<form method="post">
              <div class="input-group">
              	<input type="hidden" name="actionType" value="update_status">
                <input type="text" class="form-control" name="update_status" placeholder="What are you clicking right now?">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
             </form>
             <h4 style="color:green;font-family:arial;"><em>"{{me.status}}"</em></h4>
             <br>
    </div>
    <div class="col-md-2 padding-top">
        {%if me.wpc_score<=5000%}
        <i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i>
        <h2 style="margin-top:0px"><em>{{me.wpc_score}}</em></h2>
            <button type="submit" class="btn btn-danger">Beginner Photographer</button><br>
        {%elif me.wpc_score>5000 or me.wpc_score<=10000%}
        <i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i>
        <h2 style="margin-top:0px"><em>{{me.wpc_score}}</em></h2>
            <button type="submit" class="btn btn-danger">Amateur Photographer</button><br>
        {%elif me.wpc_score>10000 or me.wpc_score<=20000%}
        <i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gray;"></i><i class="fa fa-star" style="color:gray;"></i>
        <h2 style="margin-top:0px"><em>{{me.wpc_score}}</em></h2>
            <button type="submit" class="btn btn-danger">Semi-Pro Photographer</button><br>
        {%elif me.wpc_score>20000 or me.wpc_score<=25000%}
        <i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gray;"></i>
        <h2 style="margin-top:0px"><em>{{me.wpc_score}}</em></h2>
            <button type="submit" class="btn btn-danger">Professional Photographer</button><br>
        {%elif me.wpc_score>25000%}
        <i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i><i class="fa fa-star" style="color:gold;"></i>
        <h2 style="margin-top:0px"><em>{{me.wpc_score}}</em></h2>
            <button type="submit" class="btn btn-danger">Master Photographer</button><br>
        {% endif %}
    </div>
	<div class="" id="main">
		<div class="row">   
		</div>
		<hr>

		<div class="col-md-8 col-sm-8 col-xs-8">
			<h1 style="text-align:center;">My Feed</h1>

			<div class="col-md-6 col-sm-6 col-xs-12">
				{%for m in messages%}
				{%if  m.message_type <=7 %}
				{%if loop.index % 2 == 1%}	
					<div class="card">
						{%if m.message_type == 1 or m.message_type == 4 or m.message_type == 5 or m.message_type == 6 or m.message_type == 7%}
							<a href="/photo/{{m.message_photo.get().key.urlsafe()}}"><div class="panel-thumbnail"><img src="{{get_serving_url(m.message_photo.get().blobKey)}}" class="img-responsive"></div></a>
						{%elif m.message_type == 2%}
							<div class="panel-thumbnail"><img src="{{m.message_blog.get().cover}}" class="img-responsive"></div>
						{%elif m.message_type == 3%}
							<div class="panel-thumbnail"><img src="{{m.message_group.get().cover_photo}}" class="img-responsive"></div>
						{%endif%}
						<p><a href="my_studio.html" style="color:black;"></a></p>
						<button type="button" class="btn btn-success btn-xs photographer_options" title="Go to {{m.sender.get().name}}'s photos"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-info btn-xs photographer_options" title="Like this postcard"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options" title="Add {{m.sender.get().name}} to ideabook"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
						<p>{{m.likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{m.updated.strftime("%c")}}</p>
						<div class="panel-body">
							{%if m.message_type == 1%}
								<p><em style="color:blue">{{m.sender.get().name}}</em> added new Photos</p>
							{%elif m.message_type == 2%}
								<p><em style="color:blue">{{m.sender.get().name}}</em> added new Blog</p>
								<a href="/blog/{{m.message_blog.get().key.urlsafe()}}"><h3 style="color:black;">{{m.message_blog.get().title}}</h3></a>
							{%elif m.message_type == 3%}
								<p><em style="color:blue">{{m.sender.get().name}}</em> added new Group</p>
								<a href="/group/{{m.message_group.get().key.urlsafe()}}"><h3 style="color:black;">{{m.message_group.get().name}}</h3>
								<p>{{m.message_group.get().description}}</p>	
								</a>
							{%elif m.message_type == 4%}
								<p><em style="color:blue">{{m.sender.get().name}}</em> sent you a personal message</p>
								<p class="lead">{{m.message}}</p>
							{%elif m.message_type == 5%}
								<p><em style="color:blue">{{m.sender.get().name}}</em> has given you an Award</p>
								{%if m.message == 'Simply_Awesome'%}
				                  {% set award_name =  'Simply Awesome'%}
				                {%elif m.message == 'Jaw_Dropping'%}
				                  {% set award_name =  'Jaw Dropping'%}
				                {%elif m.message == 'World_Class'%}
				                  {% set award_name =  'World Class'%}
				                {%elif m.message == 'Beautiful_Composition'%}
				                  {% set award_name =  'Beautiful Composition'%}
				                {%elif m.message == 'Piece_of_Art'%}
				                  {% set award_name =  'Piece of Art'%}
				                {%elif m.message == 'Truly_Inspirational'%}
				                  {% set award_name =  'Truly Inspirational'%}
				                {%endif%}
								<div><i style="color:gold;" class="fa fa-trophy fa-2x"></i>
                      			<h5>{{award_name}}</h5></div>
                      		{%elif m.message_type == 6%}
								<p><em style="color:blue">{{m.sender.get().name}}</em> has given your photo <span style="color:blue;">{{m.message_photo.get().caption}}</span> an Award</p>
								{%if m.message == 'Simply_Awesome'%}
				                  {% set award_name =  'Simply Awesome'%}
				                {%elif m.message == 'Jaw_Dropping'%}
				                  {% set award_name =  'Jaw Dropping'%}
				                {%elif m.message == 'World_Class'%}
				                  {% set award_name =  'World Class'%}
				                {%elif m.message == 'Beautiful_Composition'%}
				                  {% set award_name =  'Beautiful Composition'%}
				                {%elif m.message == 'Piece_of_Art'%}
				                  {% set award_name =  'Piece of Art'%}
				                {%elif m.message == 'Truly_Inspirational'%}
				                  {% set award_name =  'Truly Inspirational'%}
				                {%endif%}
								<div><i style="color:gold;" class="fa fa-trophy fa-2x"></i>
                      			<h5>{{award_name}}</h5></div>
                      		{%elif m.message_type == 7%}
								<p><em  style="color:blue">{{m.sender.get().name}}</em> liked your photo</p>
								<p class="lead">{{m.message}}</p>
								    <form method="post">
						              	<div class="input-group">
						              		<input type="hidden" name="actionType" value="comment">
							              	<input type="hidden" name="messageKey" value="{{m.key.urlsafe()}}">
							                <input type="text" class="form-control" name="comment" placeholder="Comment...">
						                <div class="input-group-btn">
						                	<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
						                </div><!-- /btn-group -->
						              	</div><!-- /input-group -->
						            </form>
						            {%for c in m.comments%}
										<p>{{c}}</p>
									{%endfor%}
							{%endif%}
						</div>
					</div>
					<hr>
				{%endif%}
				{%endif%}
				{%endfor%}
			</div><!--/col-->

			<div class="col-md-6 col-sm-6 col-xs-12">
				{%for m in messages%}
				{%if  m.message_type <=7 %}
				{%if loop.index % 2 == 0%}
					<div class="card">
						{%if m.message_type == 1 or m.message_type == 4 or m.message_type == 5 or m.message_type == 6 or m.message_type == 7%}
							<a href="/photo/{{m.message_photo.get().key.urlsafe()}}"><div class="panel-thumbnail"><img src="{{get_serving_url(m.message_photo.get().blobKey)}}" class="img-responsive"></div></a>
						{%elif m.message_type == 2%}
							<div class="panel-thumbnail"><img src="{{m.message_blog.get().cover}}" class="img-responsive"></div>
						{%elif m.message_type == 3%}
							<div class="panel-thumbnail"><img src="{{m.message_group.get().cover_photo}}" class="img-responsive"></div>
						{%endif%}
						<p><a href="my_studio.html" style="color:black;"></a></p>
						<button type="button" class="btn btn-success btn-xs photographer_options" title="Go to {{m.sender.get().name}}'s photos"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
						<button type="button" class="btn btn-info btn-xs photographer_options" title="Like this postcard"><span class="glyphicon glyphicon-thumbs-up" style="color:white;"></span></button>
						<button type="button" class="btn btn-success btn-xs photographer_options" title="Add {{m.sender.get().name}} to ideabook"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
						<p>{{m.likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{m.updated.strftime("%c")}}</p>
						<div class="panel-body">
							{%if m.message_type == 1%}
								<p><em  style="color:blue">{{m.sender.get().name}}</em> added new Photos</p>
							{%elif m.message_type == 2%}
								<p><em  style="color:blue">{{m.sender.get().name}}</em> added new Blog</p>
								<a href="/blog/{{m.message_blog.get().key.urlsafe()}}"><h3 style="color:black;">{{m.message_blog.get().title}}</h3></a>
							{%elif m.message_type == 3%}
								<p><em  style="color:blue">{{m.sender.get().name}}</em> added new Group</p>
								<a href="/group/{{m.message_group.get().key.urlsafe()}}"><h3 style="color:black;">{{m.message_group.get().name}}</h3>
								<p>{{m.message_group.get().description}}</p>	
								</a>
							{%elif m.message_type == 4%}
								<p><em  style="color:blue">{{m.sender.get().name}}</em> sent you a personal message</p>
								<p class="lead">{{m.message}}</p>
							{%elif m.message_type == 5%}
								<p><em style="color:blue">{{m.sender.get().name}}</em> has given you an Award</p>
								{%if m.message == 'Simply_Awesome'%}
				                  {% set award_name =  'Simply Awesome'%}
				                {%elif m.message == 'Jaw_Dropping'%}
				                  {% set award_name =  'Jaw Dropping'%}
				                {%elif m.message == 'World_Class'%}
				                  {% set award_name =  'World Class'%}
				                {%elif m.message == 'Beautiful_Composition'%}
				                  {% set award_name =  'Beautiful Composition'%}
				                {%elif m.message == 'Piece_of_Art'%}
				                  {% set award_name =  'Piece of Art'%}
				                {%elif m.message == 'Truly_Inspirational'%}
				                  {% set award_name =  'Truly Inspirational'%}
				                {%endif%}
								<div><i style="color:gold;" class="fa fa-trophy fa-2x"></i>
                      			<h5>{{award_name}}</h5></div>	
                      		{%elif m.message_type == 6%}
								<p><em style="color:blue">{{m.sender.get().name}}</em> has given your photo <span style="color:blue;">{{m.message_photo.get().caption}}</span> an Award</p>
								{%if m.message == 'Simply_Awesome'%}
				                  {% set award_name =  'Simply Awesome'%}
				                {%elif m.message == 'Jaw_Dropping'%}
				                  {% set award_name =  'Jaw Dropping'%}
				                {%elif m.message == 'World_Class'%}
				                  {% set award_name =  'World Class'%}
				                {%elif m.message == 'Beautiful_Composition'%}
				                  {% set award_name =  'Beautiful Composition'%}
				                {%elif m.message == 'Piece_of_Art'%}
				                  {% set award_name =  'Piece of Art'%}
				                {%elif m.message == 'Truly_Inspirational'%}
				                  {% set award_name =  'Truly Inspirational'%}
				                {%endif%}
								<div><i style="color:gold;" class="fa fa-trophy fa-2x"></i>
                      			<h5>{{award_name}}</h5></div>	
                      		{%elif m.message_type == 7%}
								<p><em  style="color:blue">{{m.sender.get().name}}</em> liked your photo</p>
								<p class="lead">{{m.message}}</p>
								{%for c in m.comments%}
									<p>{{c}}</p>
								{%endfor%}
							{%endif%}
						</div>
					</div>
					<hr>
				{%endif%}
				{%endif%}
				{%endfor%}
			</div><!--/col-->
		</div>

		<div class="col-md-3 col-md-offset-1 col-sm-2 col-sm-offset-2 col-xs-2">

			<div class="col-md-10 col-md-offset-1 col-sm-2 col-sm-offset-2 col-xs-2">
			<p>Ads</p>
			<img src="/images/img_2.jpg"  height="250px" width="300px">
			<p><a href="my_studio.html" style="color:black;"></a></p>

			<img src="/images/img_2.jpg"  height="250px" width="300px">
			<p><a href="my_studio.html" style="color:black;"></a></p>

			<img src="/images/img_2.jpg"  height="250px" width="300px">
			<p><a href="my_studio.html" style="color:black;"></a></p>
			</div>
			<hr>
			
			<div class="col-md-9 col-md-offset-3 col-sm-2 col-sm-offset-2 col-xs-2">
				<p>My Groups</p>
				{%for b in me.groups%}
					{%if loop.index <= 5%}
						<a href="/group/{{b.urlsafe()}}"><img src="{{b.get().cover_photo}}" class="img-responsive">
						<p style="color:black;">{{b.get().name}}</p></a>
					{%endif%}
				{%endfor%}
				<a href="/{{me.key.id()}}/groups" style="text-align:center;"><p>Show All</p></a>
				<hr>
			</div>

			<div class="col-md-9 col-md-offset-3 col-sm-2 col-sm-offset-2 col-xs-2">
			<p>Suggestions</p>
			<img src="/images/img_2.jpg" class="img-responsive">
			<p><a href="my_studio.html" style="color:black;"></a></p>

			<img src="/images/img_2.jpg" class="img-responsive">
			<p><a href="my_studio.html" style="color:black;"></a></p>

			<img src="/images/img_2.jpg" class="img-responsive">
			<p><a href="my_studio.html" style="color:black;"></a></p>
			</div>
			<hr>

			<div class="col-md-9 col-md-offset-3 col-sm-2 col-sm-offset-2 col-xs-2">
			<p>Trending Photographers</p>
			<img src="/images/img_2.jpg" class="profile-img" width="100%">
			<p><a href="my_studio.html" style="color:black;"></a></p>

			<img src="/images/img_2.jpg" class="profile-img" width="100%">
			<p><a href="my_studio.html" style="color:black;"></a></p>

			<img src="/images/img_2.jpg" class="profile-img" width="100%">
			<p><a href="my_studio.html" style="color:black;"></a></p>
			</div>
		</div><!--/col-->  
	</div>
 <hr>

    <div class="col-md-12 text-center">
        <p>Ads</p>
        <img src="/images/img_2.jpg"  height="90px" width="728px">
    </div>
    <div class="col-md-12 text-center">
    <hr>
</div>
{%endblock%}
		
