{%if me%}
		{%extends "index_user.html"%}
{%else%}
		{%extends "index.html"%}
{%endif%}

{%set user = me%}

{%block title%}
{{me.name}} | WPC
{%endblock%}

{%block styleSheets%}
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- Add custom CSS here -->
<link href="/css/my_studio.css" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet">
<link href="/css/blog.css" rel="stylesheet">

{%endblock%}

{%block carousel%}
{%endblock%}

{%block pageContent%}
<div class="ideabook_navbar">
	<h1> {{me.name}}'s<em> Ideabook</em>  {%if not me%}<a href="/signin"><button class="btn btn-xs btn-danger" type="button"><i class="fa fa-register" style="color:white;"></i>  Register with WPC</button></a>{%endif%}</h1>
	<ul class="nav nav-pills nav-justified" role="tablist" id="ideabook_list">
	  <li class="active"><a onclick="photos();" href="javascript:void(0);"><h4>Photos</h4></a></li>
	  <li><a onclick="photographer();" href="javascript:void(0);"><h4>Photographers</h4></a></li>
	  <li><a onclick="blogs();" href="javascript:void(0);"><h4>Blogs</h4></a></li>
	  <li><a onclick="groups();" href="javascript:void(0);"><h4>Groups</h4></a></li>
	  <!--<li><a onclick="questions();" href="javascript:void(0);"><h4>Questions</h3></a></li>-->
	</ul>
</div>
	<div class="row" style="margin-top:100px;z-index:1;">	
		<div class="container">
			<div id="my_ideas">
				<br>
        {%for p in user.pinned_photos%}
        {% else %}
          <div>
            <h2>No photos in {{user.name}} Ideabook </h2>
          </div>
            {%set no_photos = 1%}
        {% endfor %}
        {%if no_photos != 1%}
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
        {%for p in user.pinned_photos%}
        {%if loop.index % 4 == 1%}
                <a href="/photo/{{p.get().key.urlsafe()}}"><img src="{{get_serving_url(p.get().blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
          <br>
              <div class="button-container post-action padding_top padding_bottom">
                <a href="/{{p.get().key.parent().get().key.id()}}"><h5 style="color:green;"><img src="{{p.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{p.get().key.parent().get().name}}</em></h5></a>
                  <p>{{p.get().likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.get().viewed}} <i class="fa fa-eye fa-1x"></i></p>
                  <form method="post">
                    <input type="hidden" name="actionType" value="like">
                    <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                    <button class="btn btn-info btn-xs" type="submit" title="Like This Image"><i class="fa fa-thumbs-up fa-1x"></i></button>
                 </form>
                  <form method="post">
                      <input type="hidden" name="actionType" value="delete">
                      <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                      <button class="btn btn-primary btn-xs" type="submit" title="Remove Image from Ideabook"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
                  </form>
                </div>
                <hr>
        {%endif%}
        {% endfor %}
        </div>
        <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
        {%for p in user.pinned_photos%}
        {%if loop.index % 4 == 2%}
                <a href="/photo/{{p.get().key.urlsafe()}}"><img src="{{get_serving_url(p.get().blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
          <br>
          
          <div class="button-container post-action padding_top padding_bottom">
            <a href="/{{p.get().key.parent().get().key.id()}}"><h5 style="color:green;"><img src="{{p.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{p.get().key.parent().get().name}}</em></h5></a>
                  <p>{{p.get().likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.get().viewed}} <i class="fa fa-eye fa-1x"></i></p>
                <form method="post">
                    <input type="hidden" name="actionType" value="like">
                    <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                    <button class="btn btn-info btn-xs" type="submit" title="Like This Image"><i class="fa fa-thumbs-up fa-1x"></i></button>
                 </form>
                  <form method="post">
                      <input type="hidden" name="actionType" value="delete">
                      <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                      <button class="btn btn-primary btn-xs" type="submit" title="Remove Image from Ideabook"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
                  </form>
                </div>
                <hr>
        {%endif%}
        {% endfor %}
        </div>
        <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
        {%for p in user.pinned_photos%}
        {%if loop.index % 4 == 3%}
                <a href="/photo/{{p.get().key.urlsafe()}}"><img src="{{get_serving_url(p.get().blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
          <br>
          
          <div class="button-container post-action padding_top padding_bottom">
            <a href="/{{p.get().key.parent().get().key.id()}}"><h5 style="color:green;"><img src="{{p.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{p.get().key.parent().get().name}}</em></h5></a>
                  <p>{{p.get().likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.get().viewed}} <i class="fa fa-eye fa-1x"></i></p>
                 <form method="post">
                    <input type="hidden" name="actionType" value="like">
                    <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                    <button class="btn btn-info btn-xs" type="submit" title="Like This Image"><i class="fa fa-thumbs-up fa-1x"></i></button>
                 </form>
                  <form method="post">
                      <input type="hidden" name="actionType" value="delete">
                      <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                      <button class="btn btn-primary btn-xs" type="submit" title="Remove Image from Ideabook"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
                  </form>
                </div>
                <hr>
        {%endif%}
        {% endfor %}
        </div>
        <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
        {%for p in user.pinned_photos%}
        {%if loop.index % 4 == 0%}
                <a href="/photo/{{p.get().key.urlsafe()}}"><img src="{{get_serving_url(p.get().blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
          <br>
          
          <div class="button-container post-action padding_top padding_bottom">
            <a href="/{{p.get().key.parent().get().key.id()}}"><h5 style="color:green;"><img src="{{p.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{p.get().key.parent().get().name}}</em></h5></a>
                  <p>{{p.get().likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.get().viewed}} <i class="fa fa-eye fa-1x"></i></p>
                 <form method="post">
                    <input type="hidden" name="actionType" value="like">
                    <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                    <button class="btn btn-info btn-xs" type="submit" title="Like This Image"><i class="fa fa-thumbs-up fa-1x"></i></button>
                 </form>
                  <form method="post">
                      <input type="hidden" name="actionType" value="delete">
                      <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                      <button class="btn btn-primary btn-xs" type="submit" title="Remove Image from Ideabook"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
                  </form>
                </div>
                <hr>
        {%endif%}
        {% endfor %}
        </div>
        {%endif%}
      		</div>
		</div>
	</div>
	
<div style="display:none;">
	<div id="blogs">
		<br>
	  <div class="row col-md-4 col-sm-4 col-xs-6" style="margin:0px;">
      {%for b in user.pinned_blogs%}
      {%if loop.index % 3 == 1%}
              <a href="/blog/{{b.get().key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.get().title}}</h3>
              <img src="{{b.get().cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.get().key.parent().get().name}}</em></h5></a>
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-4 col-sm-4 col-xs-6" style="margin:0px;">
      {%for b in user.pinned_blogs%}
      {%if loop.index % 3 == 2%}
               <a href="/blog/{{b.get().key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.get().title}}</h3>
              <img src="{{b.get().cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.get().key.parent().get().name}}</em></h5></a>
              <hr>
      {%endif%}
      {% endfor %}
      </div>
      <div class="row col-md-4 col-sm-4 col-xs-6" style="margin:0px;">
      {%for b in user.pinned_blogs%}
      {%if loop.index % 3 == 0%}
               <a href="/blog/{{b.get().key.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.get().title}}</h3>
              <img src="{{b.get().cover}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.get().key.parent().get().name}}</em></h5></a>
              <hr>
      {%endif%}
      {% endfor %}
      </div>
	</div>
</div>
<div style="display:none;">
	<div id="photographers">
    {%for fl in user.following%}
    {%else%}
		  <br><h2>You have not marked any Photographer to your Ideabook</h2>
    {%endfor%}
    {%for fl in user.following%}
        <div class="col-md-2">
            <img class="img-circle" src="{{user.avatar_url}}" height="100px" alt="Profile image">
            <a href="/{{fl.get().key.id()}}"><h5 style="color:black;"><em>{{fl.get().name}}<em></h5>
            <img src="/fonts/Flags/{{fl.get().country}}.png" alt="country" width="40px"></a>
            <h5 style="color:green"><em>#{{fl.get().wpc_score}}</em></h5>
            <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-picture" style="color:white;"></span></button>
            <button type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-plus" style="color:white;"></span></button>
        </div><!-- /.col-lg-4 -->
   {%endfor%}
	</div>
</div>
<div style="display:none;">
	<div id="groups">
		<br>
    {%for b in user.groups%}
      {%if loop.index == 0%}
       <h2>There are no groups that you have created of are a member of</h2>
       {%set no_groups = 1%}
       {%endif%}
       {% endfor %}
       {%if no_groups != 1%}
       
      {%for b in user.groups%}
      {%if loop.index % 4 == 1%}
          {%if me.key != b.parent()%}
          <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
              <a href="/group/{{b.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.get().name}}</h3>
              <img src="{{b.get().cover_photo}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.get().key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.get().description}}</div>
              <hr>
          </div>
          {%endif%}
      {%endif%}
      {% endfor %}
      {%for b in user.groups%}
      {%if loop.index % 4 == 2%}
          {%if me.key != b.parent()%}
          <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
              <a href="/group/{{b.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.get().name}}</h3>
              <img src="{{b.get().cover_photo}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.get().key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.get().description}}</div>
              <hr>
          </div>
          {%endif%}
      {%endif%}
      {% endfor %}
      {%for b in user.groups%}
      {%if loop.index % 4 == 3%}
          {%if me.key != b.parent()%}
          <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
              <a href="/group/{{b.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.get().name}}</h3>
              <img src="{{b.get().cover_photo}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.get().key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.get().description}}</div>
              <hr>
          </div>
          {%endif%}
      {%endif%}
      {% endfor %}
      {%for b in user.groups%}
      {%if loop.index % 4 == 0%}
          {%if me.key != b.parent()%}
          <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
              <a href="/group/{{b.urlsafe()}}"><h3 style="color:black;word-wrap:normal;">{{b.get().name}}</h3>
              <img src="{{b.get().cover_photo}}" alt="Profile Image" class="img-rounded" width="80%"><h5 style="color:green;"><img src="{{b.get().key.parent().get().avatar_url}}" alt="Profile Image" class="img-circle" width="25px"> <em>{{b.get().key.parent().get().name}}</em></h5></a>
              <div class="blog_content thumb_blog_content">{{b.get().description}}</div>
              <hr>
          </div>
          {%endif%}
      {%endif%}
      {% endfor %}
      {%endif%}
	</div>
</div>
<div style="display:none;">
	<div id="questions">
		<br><h2>You have not marked any Forum Questions to your Ideabook</h2>
	</div>
</div>
<div style="display:none;">
	<div id="photos">
		<br>
        {%for p in user.pinned_photos%}
        {% else %}
          <div>
            <h2>No photos in {{user.name}} Ideabook </h2>
          </div>
            {%set no_photos = 1%}
        {% endfor %}
        {%if no_photos != 1%}
      <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
        {%for p in user.pinned_photos%}
        {%if loop.index % 4 == 1%}
                <a href="/photo/{{p.get().key.urlsafe()}}"><img src="{{get_serving_url(p.get().blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
          <br>
          
              <div class="button-container post-action padding_top padding_bottom">
                  <p>{{p.get().likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.get().viewed}} <i class="fa fa-eye fa-1x"></i></p>
                 <form method="post">
                    <input type="hidden" name="actionType" value="like">
                    <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                    <button class="btn btn-info btn-xs" type="submit" title="Like This Image"><i class="fa fa-thumbs-up fa-1x"></i></button>
                 </form>
                  <form method="post">
                      <input type="hidden" name="actionType" value="delete">
                      <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                      <button class="btn btn-primary btn-xs" type="submit" title="Remove Image from Ideabook"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
                  </form>
                </div>
                <hr>
        {%endif%}
        {% endfor %}
        </div>
        <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
        {%for p in user.pinned_photos%}
        {%if loop.index % 4 == 2%}
                <a href="/photo/{{p.get().key.urlsafe()}}"><img src="{{get_serving_url(p.get().blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
          <br>
          
          <div class="button-container post-action padding_top padding_bottom">
                  <p>{{p.get().likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.get().viewed}} <i class="fa fa-eye fa-1x"></i></p>
                 <form method="post">
                    <input type="hidden" name="actionType" value="like">
                    <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                    <button class="btn btn-info btn-xs" type="submit" title="Like This Image"><i class="fa fa-thumbs-up fa-1x"></i></button>
                 </form>
                  <form method="post">
                      <input type="hidden" name="actionType" value="delete">
                      <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                      <button class="btn btn-primary btn-xs" type="submit" title="Remove Image from Ideabook"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
                  </form>
                </div>
                <hr>
        {%endif%}
        {% endfor %}
        </div>
        <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
        {%for p in user.pinned_photos%}
        {%if loop.index % 4 == 3%}
                <a href="/photo/{{p.get().key.urlsafe()}}"><img src="{{get_serving_url(p.get().blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
          <br>
          
          <div class="button-container post-action padding_top padding_bottom">
                  <p>{{p.get().likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.get().viewed}} <i class="fa fa-eye fa-1x"></i></p>
                 <form method="post">
                    <input type="hidden" name="actionType" value="like">
                    <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                    <button class="btn btn-info btn-xs" type="submit" title="Like This Image"><i class="fa fa-thumbs-up fa-1x"></i></button>
                 </form>
                  <form method="post">
                      <input type="hidden" name="actionType" value="delete">
                      <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                      <button class="btn btn-primary btn-xs" type="submit" title="Remove Image from Ideabook"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
                  </form>
                </div>
                <hr>
        {%endif%}
        {% endfor %}
        </div>
        <div class="row col-md-3 col-sm-4 col-xs-12" style="margin:0px;">
        {%for p in user.pinned_photos%}
        {%if loop.index % 4 == 0%}
                <a href="/photo/{{p.get().key.urlsafe()}}"><img src="{{get_serving_url(p.get().blobKey,size=100)}}" width="98%" id="temp1" alt="photo"></a>
          <br>
          
          <div class="button-container post-action padding_top padding_bottom">
                  <p>{{p.get().likes}} <i class="fa fa-thumbs-o-up fa-1x"></i> | {{p.get().viewed}} <i class="fa fa-eye fa-1x"></i></p>
                 <form method="post">
                    <input type="hidden" name="actionType" value="like">
                    <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                    <button class="btn btn-info btn-xs" type="submit" title="Like This Image"><i class="fa fa-thumbs-up fa-1x"></i></button>
                 </form>
                  <form method="post">
                      <input type="hidden" name="actionType" value="delete">
                      <input type="hidden" name="photoKey" value="{{p.get().key.urlsafe()}}">
                      <button class="btn btn-primary btn-xs" type="submit" title="Remove Image from Ideabook"><span class="glyphicon glyphicon-trash" style="color:white;"></span></button>
                  </form>
                </div>
                <hr>
        {%endif%}
        {% endfor %}
        </div>
        {%endif%}
	</div>
</div>

<script>
  function blogs() {
    $( "#my_ideas" ).load( "/{{me.key.id()}}/ideabook #blogs" );
    document.getElementById("ideabook_list").innerHTML = "<li><a onclick='photos();' href='javascript:void(0);'><h4>Photos</h4></a></li><li><a onclick='photographer();' href='javascript:void(0);'><h4>Photographers</h4></a></li><li class='active'><a onclick='blogs();' href='javascript:void(0);'><h4>Blogs</h4></a></li><li><a onclick='groups();' href='javascript:void(0);'><h4>Groups</h4></a></li>";
  }

  function photographer() {
    $( "#my_ideas" ).load( "/{{me.key.id()}}/ideabook #photographers" );
    document.getElementById("ideabook_list").innerHTML = "<li><a onclick='photos();' href='javascript:void(0);'><h4>Photos</h4></a></li><li class='active'><a onclick='photographer();' href='javascript:void(0);'><h4>Photographers</h4></a></li><li><a onclick='blogs();' href='javascript:void(0);'><h4>Blogs</h4></a></li><li><a onclick='groups();' href='javascript:void(0);'><h4>Groups</h4></a></li>";
  }

  function groups() {
    $( "#my_ideas" ).load( "/{{me.key.id()}}/ideabook #groups" );
    document.getElementById("ideabook_list").innerHTML = "<li><a onclick='photos();' href='javascript:void(0);'><h4>Photos</h4></a></li><li><a onclick='photographer();' href='javascript:void(0);'><h4>Photographers</h4></a></li><li><a onclick='blogs();' href='javascript:void(0);'><h4>Blogs</h4></a></li><li class='active'><a onclick='groups();' href='javascript:void(0);'><h4>Groups</h4></a></li>";
  }
    
 function questions() {
    $( "#my_ideas" ).load( "/{{me.key.id()}}/ideabook #questions" );
    document.getElementById("ideabook_list").innerHTML = "<li><a onclick='photos();' href='javascript:void(0);'><h4>Photos</h4></a></li><li><a onclick='photographer();' href='javascript:void(0);'><h4>Photographers</h4></a></li><li><a onclick='blogs();' href='javascript:void(0);'><h4>Blogs</h4></a></li><li><a onclick='groups();' href='javascript:void(0);'><h4>Groups</h4></a></li>";
  }

  function photos() {
   $( "#my_ideas" ).load( "/{{me.key.id()}}/ideabook #photos" );
    document.getElementById("ideabook_list").innerHTML = "<li class='active'><a onclick='photos();' href='javascript:void(0);'><h4>Photos</h4></a></li><li><a onclick='photographer();' href='javascript:void(0);'><h4>Photographers</h4></a></li><li><a onclick='blogs();' href='javascript:void(0);'><h4>Blogs</h4></a></li><li><a onclick='groups();' href='javascript:void(0);'><h4>Groups</h4></a></li>";
  }
</script>
{%endblock%}